doctype html
head
  // Mobile Specific Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon' href='img/fav.png')
  
  // Meta Keyword
  meta(name='keywords' content='')
  // meta character set
  meta(charset='UTF-8')
  // Site Title
  title Blog Gia Sư
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700' rel='stylesheet')
  //
    CSS
    =============================================
  link(rel='stylesheet' href='css/linearicons.css')
  link(rel='stylesheet' href='css/font-awesome.min.css')
  link(rel='stylesheet' href='css/bootstrap.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='css/nice-select.css')
  link(rel='stylesheet' href='css/animate.min.css')
  link(rel='stylesheet' href='css/owl.carousel.css')
  link(rel='stylesheet' href='css/jquery-ui.css')
  link(rel='stylesheet' href='css/main.css')
header#header
  .header-top
    .container
      .row
        .col-lg-4.col-sm-4.col-4.header-top-left.no-padding
          ul
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-dribbble
            li
              a(href='#')
                i.fa.fa-behance
        .col-lg-4.col-sm-4.col-4.header-top-center.no-padding
          a(href='/dangkythuegiasu')
            button.btn.btn-light.btn-sm.text-uppercase(type='button') D&agrave;nh cho gia s&#x1B0;
            span &nbsp;
            span &nbsp;
            span &nbsp;
          a(href='/dangkythuegiasu')
            button.btn.btn-primary.btn-sm.text-uppercase(type='button')  &Dstrok;&abreve;ng k&yacute; thu&ecirc; gia s&#x1B0;
        .col-lg-4.col-sm-4.col-4.header-top-right.no-padding
          a(href='tel:+953 012 3654 896')
            span.lnr.lnr-phone-handset
            span.text +84 0961100826
          a(href='mailto:support@colorlib.com')
            span.lnr.lnr-envelope
            span.text hieudao03021999@gmail.com
  .container.main-menu
    .row.align-items-center.justify-content-between.d-flex
      #logo
        a(href='/')
          img(src='img/logo.png' alt='' title='')
      nav#nav-menu-container
        ul.nav-menu
          li
            a(href='/') Trang ch&#x1EE7;
          li
            a(href='/gioithieu') Gi&#x1EDB;i thi&#x1EC7;u
          li
            a(href='/danhsachlopmoi') Danh s&aacute;ch c&aacute;c l&#x1EDB;p m&#x1EDB;i
          // <li><a href="events.html">Events</a></li>
          li
            a(href='/blog-khach-hang') Blog kh&aacute;ch h&agrave;ng
          li.menu-has-children
            a(href='/blog-gia-su') Blog gia s&#x1B0;
          li
            a(href='/contact') Li&ecirc;n h&#x1EC7;
      // #nav-menu-container
// #header
// start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        h1.text-white
          
// End banner Area
// Start popular-courses Area
section.popular-courses-area.section-gap.courses-page
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-70.col-lg-8
        .title.text-center
          h1.mb-10 Blog gia s&#x1B0;
          p N&#x1A1;i chia s&#x1EBD; nh&#x1EEF;ng kinh nghi&#x1EC7;m v&#x1EC1; d&#x1ECB;ch v&#x1EE5; c&#x1EE7;a trung t&acirc;m
    .row
      .single-popular-carusel.col-lg-3.col-md-6
        .thumb-wrap.relative
          .thumb.relative
            .overlay.overlay-bg
            img.img-fluid(src='img/p1.jpg' alt='')
          .meta.d-flex.justify-content-between
            p
              span.lnr.lnr-users
              |  355 
              span.lnr.lnr-bubble
              | 35
        .details
          a(href='course-details.html')
            h4
              | D&#x1EA1;y con 10 c&aacute;ch &#x1EE9;ng x&#x1EED; v&abreve;n minh
          p
            | C&aacute;ch &#x1EE9;ng x&#x1EED; &dstrok;&uacute;ng &dstrok;&#x1EAF;n s&#x1EBD; gi&uacute;p con b&#x1EA1;n &dstrok;&#x1B0;&#x1EE3;c &dstrok;&aacute;nh gi&aacute; cao trong m&#x1EAF;t m&#x1ECD;i ng&#x1B0;&#x1EDD;i. Tr&#x1EBB; c&oacute; th&#x1EC3; d&#x1EC5; d&agrave;ng k&#x1EBF;t b&#x1EA1;n v&agrave; nh&#x1EAD;n &dstrok;&#x1B0;&#x1EE3;c s&#x1EF1; gi&uacute;p &dstrok;&#x1EE1; c&#x1EE7;a ng&#x1B0;&#x1EDD;i kh&aacute;c. Nh&#x1EEF;ng c&aacute;ch &#x1EE9;ng x&#x1EED; v&abreve;n minh d&#x1B0;&#x1EDB;i &dstrok;&acirc;y cha m&#x1EB9; &dstrok;&#x1EEB;ng qu&ecirc;n d&#x1EA1;y con ngay t&#x1EEB; khi c&ograve;n nh&#x1ECF;.
      .single-popular-carusel.col-lg-3.col-md-6
        .thumb-wrap.relative
          .thumb.relative
            .overlay.overlay-bg
            img.img-fluid(src='img/p2.jpg' alt='')
          .meta.d-flex.justify-content-between
            p
              span.lnr.lnr-users
              |  355 
              span.lnr.lnr-bubble
              | 35
        .details
          a(href='course-details.html')
            h4
              | D&#x1EA1;y tr&#x1EBB; 5 k&#x1EF9; n&abreve;ng tho&aacute;t hi&#x1EC3;m tr&ecirc;n &ocirc; t&ocirc;
          p
            | &#x1EDE; tr&ecirc;n &ocirc; t&ocirc; &dstrok;&oacute;ng k&iacute;n c&#x1EED;a s&#x1EBD; v&ocirc; c&ugrave;ng nguy hi&#x1EC3;m t&#x1EDB;i t&iacute;nh m&#x1EA1;ng ngay c&#x1EA3; v&#x1EDB;i ng&#x1B0;&#x1EDD;i l&#x1EDB;n. &Dstrok;&#x1ED1;i v&#x1EDB;i tr&#x1EBB; em, vi&#x1EC7;c n&agrave;y c&ograve;n nguy hi&#x1EC3;m h&#x1A1;n g&#x1EA5;p nhi&#x1EC1;u l&#x1EA7;n. Thay v&igrave; lo l&#x1EAF;ng, cha m&#x1EB9; h&atilde;y d&#x1EA1;y tr&#x1EBB; nh&#x1EEF;ng k&#x1EF9; n&abreve;ng c&#x1EA7;n thi&#x1EBF;t &dstrok;&#x1EC3; c&oacute; th&#x1EC3; t&#x1EF1; b&#x1EA3;o v&#x1EC7; b&#x1EA3;n th&acirc;n.
      .single-popular-carusel.col-lg-3.col-md-6
        .thumb-wrap.relative
          .thumb.relative
            .overlay.overlay-bg
            img.img-fluid(src='img/p3.jpg' alt='')
          .meta.d-flex.justify-content-between
            p
              span.lnr.lnr-users
              |  355 
              span.lnr.lnr-bubble
              | 35
        .details
          a(href='course-details.html')
            h4
              | Nh&#x1EEF;ng c&aacute;ch ph&#x1EA1;t con h&#x1EEF;u hi&#x1EC7;u khi con m&#x1EAF;c l&#x1ED7;i
          p
            | Nh&#x1EEF;ng &dstrok;&#x1EE9;a tr&#x1EBB; th&#x1B0;&#x1EDD;ng hi&#x1EBF;u &dstrok;&#x1ED9;ng, ngh&#x1ECB;ch ng&#x1EE3;m, &#x1B0;&#x1A1;ng b&#x1B0;&#x1EDB;ng v&agrave; qu&#x1EAD;y ph&aacute;. R&#x1EA5;t nhi&#x1EC1;u cha m&#x1EB9; c&#x1EA3;m th&#x1EA5;y b&#x1EA5;t l&#x1EF1;c khi kh&ocirc;ng th&#x1EC3; n&agrave;o nh&#x1EAF;c nh&#x1EDF; con v&agrave; r&egrave;n ch&uacute;ng theo quy c&#x1EE7;. Sau &dstrok;&acirc;y l&agrave; m&#x1ED9;t s&#x1ED1; tr&#x1B0;&#x1EDD;ng h&#x1EE3;p tr&#x1EBB; m&#x1EAF;c l&#x1ED7;i v&agrave; nh&#x1EEF;ng h&igrave;nh th&#x1EE9;c ph&#x1EA1;t t&#x1B0;&#x1A1;ng &#x1EE9;ng gi&uacute;p con v&agrave;o n&#x1EC1; n&#x1EBF;p, &yacute; th&#x1EE9;c &dstrok;&#x1B0;&#x1EE3;c h&agrave;nh &dstrok;&#x1ED9;ng c&#x1EE7;a b&#x1EA3;n th&acirc;n m&igrave;nh.
      .single-popular-carusel.col-lg-3.col-md-6
        .thumb-wrap.relative
          .thumb.relative
            .overlay.overlay-bg
            img.img-fluid(src='img/p4.jpg' alt='')
          .meta.d-flex.justify-content-between
            p
              span.lnr.lnr-users
              |  355 
              span.lnr.lnr-bubble
              | 35
        .details
          a(href='course-details.html')
            h4
              | D&#x1EA5;u hi&#x1EC7;u nh&#x1EAD;n bi&#x1EBF;t tr&#x1EBB; t&#x1EF1; k&#x1EF7; v&agrave; c&aacute;ch can thi&#x1EC7;p
          p
            | Cha m&#x1EB9; n&agrave;o sinh con ra c&utilde;ng mong mu&#x1ED1;n con m&igrave;nh kh&#x1ECF;e m&#x1EA1;nh v&agrave; b&igrave;nh th&#x1B0;&#x1EDD;ng nh&#x1B0; bao &dstrok;&#x1EE9;a tr&#x1EBB; kh&aacute;c. Th&#x1EBF; nh&#x1B0;ng v&igrave; nhi&#x1EC1;u nguy&ecirc;n nh&acirc;n m&agrave; tr&#x1EBB; m&#x1EAF;c ph&#x1EA3;i h&#x1ED9;i ch&#x1EE9;ng t&#x1EF1; k&#x1EF7;. Nh&#x1EAD;n bi&#x1EBF;t tr&#x1EBB; t&#x1EF1; k&#x1EF7; s&#x1EDB;m v&agrave; can thi&#x1EC7;p s&#x1EDB;m s&#x1EBD; c&oacute; th&#x1EC3; gi&uacute;p tr&#x1EBB; kh&#x1EAF;c ph&#x1EE5;c &dstrok;&#x1B0;&#x1EE3;c h&#x1ED9;i ch&#x1EE9;ng n&agrave;y.
      .single-popular-carusel.col-lg-3.col-md-6
        .thumb-wrap.relative
          .thumb.relative
            .overlay.overlay-bg
            img.img-fluid(src='img/p1.jpg' alt='')
          .meta.d-flex.justify-content-between
            p
              span.lnr.lnr-users
              |  355 
              span.lnr.lnr-bubble
              | 35
        .details
          a(href='course-details.html')
            h4
              | S&#x1EED; d&#x1EE5;ng m&#x1EA1;ng x&atilde; h&#x1ED9;i theo c&aacute;ch an to&agrave;n
          p
            | M&#x1EA1;ng x&atilde; h&#x1ED9;i hi&#x1EC7;n nay ng&agrave;y c&agrave;ng tr&#x1EDF; n&ecirc;n ph&#x1ED5; bi&#x1EBF;n. Vi&#x1EC7;c nghi&#x1EC7;n m&#x1EA1;ng x&atilde; h&#x1ED9;i &#x1EDF; c&#x1EA3; ph&#x1EE5; huynh v&agrave; h&#x1ECD;c sinh &dstrok;&#x1EC1;u g&acirc;y ra nh&#x1EEF;ng h&#x1EC7; l&#x1EE5;y &#x1EA3;nh h&#x1B0;&#x1EDF;ng &dstrok;&#x1EBF;n s&#x1EF1; ph&aacute;t tri&#x1EC3;n c&#x1EE7;a tr&#x1EBB;. T&aacute;c h&#x1EA1;i c&#x1EE7;a m&#x1EA1;ng x&atilde; h&#x1ED9;i v&#x1EDB;i tr&#x1EBB; l&agrave; g&igrave;? Ph&#x1EE5; huynh c&#x1EA7;n l&agrave;m g&igrave; &dstrok;&#x1EC3; h&#x1EA1;n ch&#x1EBF; nguy h&#x1EA1;i c&#x1EE7;a m&#x1EA1;ng x&atilde; h&#x1ED9;i v&#x1EDB;i con?
      .single-popular-carusel.col-lg-3.col-md-6
        .thumb-wrap.relative
          .thumb.relative
            .overlay.overlay-bg
            img.img-fluid(src='img/p2.jpg' alt='')
          .meta.d-flex.justify-content-between
            p
              span.lnr.lnr-users
              |  355 
              span.lnr.lnr-bubble
              | 35
            h4 $150
        .details
          a(href='course-details.html')
            h4
              | M&#x1EA1;ng x&atilde; h&#x1ED9;i hi&#x1EC7;n nay ng&agrave;y c&agrave;ng tr&#x1EDF; n&ecirc;n ph&#x1ED5; bi&#x1EBF;n.
          p
            | Tr&#x1EBB; con hi&#x1EBF;u &dstrok;&#x1ED9;ng v&agrave; th&#x1B0;&#x1EDD;ng ch&#x1B0;a l&#x1B0;&#x1EDD;ng h&#x1EBF;t &dstrok;&#x1B0;&#x1EE3;c h&#x1EAD;u qu&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng tr&ograve; ngh&#x1ECB;ch d&#x1EA1;i. R&#x1EA5;t nhi&#x1EC1;u tr&#x1B0;&#x1EDD;ng h&#x1EE3;p do cha m&#x1EB9; thi&#x1EBF;u k&#x1EF9; n&abreve;ng s&#x1A1; c&#x1EE9;u m&agrave; ph&#x1EA3;i &acirc;n h&#x1EAD;n su&#x1ED1;t &dstrok;&#x1EDD;i. Ch&iacute;nh v&igrave; v&#x1EAD;y, trang b&#x1ECB; nh&#x1EEF;ng k&#x1EF9; n&abreve;ng sau &dstrok;&acirc;y s&#x1EBD; kh&ocirc;ng bao gi&#x1EDD; th&#x1EEB;a v&#x1EDB;i c&aacute;c b&#x1EAD;c ph&#x1EE5; huynh. &Dstrok;i&#x1EC1;u n&agrave;y kh&ocirc;ng ch&#x1EC9; gi&uacute;p b&#x1EA1;n c&oacute; th&#x1EC3; b&#x1EA3;o v&#x1EC7; con m&igrave;nh m&agrave; c&ograve;n c&oacute; th&#x1EC3; gi&uacute;p &dstrok;&#x1EE1; ng&#x1B0;&#x1EDD;i kh&aacute;c khi g&#x1EB7;p t&igrave;nh hu&#x1ED1;ng t&#x1B0;&#x1A1;ng t&#x1EF1;.
      .single-popular-carusel.col-lg-3.col-md-6
        .thumb-wrap.relative
          .thumb.relative
            .overlay.overlay-bg
            img.img-fluid(src='img/p3.jpg' alt='')
          .meta.d-flex.justify-content-between
            p
              span.lnr.lnr-users
              |  355 
              span.lnr.lnr-bubble
              | 35
        .details
          a(href='course-details.html')
            h4
              | N&ecirc;n ch&#x1ECD;n gia s&#x1B0; l&agrave; gi&aacute;o vi&ecirc;n hay sinh vi&ecirc;n?
          p
            | Thu&ecirc; gia s&#x1B0; hi&#x1EC7;n nay l&agrave; m&#x1ED9;t gi&#x1EA3;i ph&aacute;p hi&#x1EC7;u qu&#x1EA3; cho nh&#x1EEF;ng ph&#x1EE5; huynh mu&#x1ED1;n ch&abreve;m lo vi&#x1EC7;c h&#x1ECD;c h&agrave;nh c&#x1EE7;a con c&aacute;i. V&#x1EAD;y n&ecirc;n l&#x1EF1;a ch&#x1ECD;n gia s&#x1B0; l&agrave; gi&aacute;o vi&ecirc;n hay sinh vi&ecirc;n? Kh&aacute;c bi&#x1EC7;t d&#x1EC5; nh&#x1EAD;n th&#x1EA5;y nh&#x1EA5;t l&agrave; m&#x1EE9;c h&#x1ECD;c ph&iacute;, tuy nhi&ecirc;n c&utilde;ng c&ograve;n nhi&#x1EC1;u &dstrok;i&#x1EC3;m kh&aacute;c nhau n&#x1EEF;a.
      .single-popular-carusel.col-lg-3.col-md-6
        .thumb-wrap.relative
          .thumb.relative
            .overlay.overlay-bg
            img.img-fluid(src='img/p4.jpg' alt='')
          .meta.d-flex.justify-content-between
            p
              span.lnr.lnr-users
              |  355 
              span.lnr.lnr-bubble
              | 35
        .details
          a(href='course-details.html')
            h4
              | Cha m&#x1EB9; c&#x1EA7;n c&#x1EA3;nh gi&aacute;c th&#x1EF1;c ph&#x1EA9;m b&#x1EA9;n h&#x1ECD;c &dstrok;&#x1B0;&#x1EDD;ng
          p
            | Nh&#x1EEF;ng m&oacute;n &abreve;n v&#x1EB7;t n&#x1A1;i c&#x1ED5;ng tr&#x1B0;&#x1EDD;ng lu&ocirc;n c&oacute; m&#x1ED9;t s&#x1EE9;c h&uacute;t m&atilde;nh li&#x1EC7;t &dstrok;&#x1ED1;i v&#x1EDB;i h&#x1ECD;c sinh. Tuy nhi&ecirc;n, r&#x1EA5;t nhi&#x1EC1;u m&oacute;n &abreve;n l&#x1EA1;i &#x1EA9;n ch&#x1EE9;a trong &dstrok;&oacute; nh&#x1EEF;ng nguy h&#x1EA1;i kh&oacute; l&#x1B0;&#x1EDD;ng m&agrave; ch&uacute;ng ta kh&ocirc;ng th&#x1EC3; ki&#x1EC3;m so&aacute;t h&#x1EBF;t.
      a.primary-btn.text-uppercase.mx-auto(href='#') Xem th&ecirc;m
// End popular-courses Area


// start footer Area
footer.footer-area.section-gap
  .container
    .row
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 L&ecirc;n h&#x1EC7; v&#x1EDB;i ch&uacute;ng t&ocirc;i
          ul
            li
              i.fa.fa-map-marker
              span.text 206/04,X&oacute;m c&#x1EA3;, Nguy&ecirc;n X&aacute;, Minh Khai, B&#x1EAF;c T&#x1EEB; Li&ecirc;m, H&agrave; N&#x1ED9;i
            li
              i.fa.fa-phone
              span.text +84 0961100826
            li
              i.fa.fa-envelope
              span.text hieudao03021999@gmail.com
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 V&#x1EC1; HNTutor
          ul
            li
              a(href='/') Trang ch&#x1EE7;
            li
              a(href='/gioithieu') Gi&#x1EDB;i thi&#x1EC7;u
            li
              a(href='/danhsachlopmoi') Danh s&aacute;ch l&#x1EDB;p m&#x1EDB;i
            li
              a(href='/contact') Li&ecirc;n H&#x1EC7;
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Blog
          ul
            li
              a(href='/blog-khach-hang') Blog kh&aacute;ch h&agrave;ng
            li
              a(href='/blog-gia-su') Blog gia s&#x1B0;
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 Gmail
          p &Dstrok;&#x1EC3; l&#x1EA1;i gmail &dstrok;&#x1EC3; c&oacute; th&#x1EC3; nh&#x1EAD;n nh&#x1EEF;ng &#x1B0;u &dstrok;&atilde;i m&#x1EDB;i nh&acirc;t
          #mc_embed_signup
            form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
              .input-group
                input.form-control(type='text' name='EMAIL' placeholder='Địa chỉ Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email '")
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.lnr.lnr-arrow-right
                .info
    .footer-bottom.row.align-items-center.justify-content-between
      p.footer-text.m-0.col-lg-6.col-md-12
       
        | B&#x1EA3;n quy&#x1EC1;n &copy;
        script.
          document.write(new Date().getFullYear());
        |  c&#x1EE7;a S&#x1EA3;n ph&#x1EA9;m  
        i.fa.fa-heart-o(aria-hidden='true')
        | thu&#x1ED9;c v&#x1EC1; 
        a(href='https://colorlib.com' target='_blank') Hi&#x1EBF;u &Dstrok;&agrave;o
        
      .col-lg-6.col-sm-12.footer-social
        a(href='#')
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-dribbble
        a(href='#')
          i.fa.fa-behance
// End footer Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
script(src='js/easing.min.js')
script(src='js/hoverIntent.js')
script(src='js/superfish.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.tabs.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
