doctype html
head
  // Mobile Specific Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon' href='img/fav.png')
  // Author Meta
  meta(name='author' content='colorlib')
  // Meta Description
  meta(name='description' content='')
  // Meta Keyword
  meta(name='keywords' content='')
  // meta character set
  meta(charset='UTF-8')
  // Site Title
  title Education
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700' rel='stylesheet')
  //
    CSS
    =============================================
  link(rel='stylesheet' href='css/linearicons.css')
  link(rel='stylesheet' href='css/font-awesome.min.css')
  link(rel='stylesheet' href='css/bootstrap.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='css/nice-select.css')
  link(rel='stylesheet' href='css/animate.min.css')
  link(rel='stylesheet' href='css/owl.carousel.css')
  link(rel='stylesheet' href='css/jquery-ui.css')
  link(rel='stylesheet' href='css/main.css')
header#header
  .header-top
    .container
      .row
        .col-lg-6.col-sm-6.col-8.header-top-left.no-padding
          ul
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-dribbble
            li
              a(href='#')
                i.fa.fa-behance
        .col-lg-6.col-sm-6.col-4.header-top-right.no-padding
          a(href='tel:+953 012 3654 896')
            span.lnr.lnr-phone-handset
            span.text +953 012 3654 896
          a(href='mailto:support@colorlib.com')
            span.lnr.lnr-envelope
            span.text support@colorlib.com
  .container.main-menu
    .row.align-items-center.justify-content-between.d-flex
      #logo
        a(href='index.html')
          img(src='img/logo.png' alt='' title='')
      nav#nav-menu-container
        ul.nav-menu
          li
            a(href='/') Home
          li
            a(href='about.html') About
          li
            a(href='courses.html') Courses
          li
            a(href='events.html') Events
          li
            a(href='gallery.html') Gallery
          li.menu-has-children
            a(href='') Blog
            ul
              li
                a(href='blog-home.html') Blog Home
              li
                a(href='blog-single.html') Blog Single
          li.menu-has-children
            a(href='') Pages
            ul
              li
                a(href='course-details.html') Course Details
              li
                a(href='event-details.html') Event Details
              li
                a(href='elements.html') Elements
              li.menu-has-children
                a(href='') Level 2 
                ul
                  li
                    a(href='#') Item One
                  li
                    a(href='#') Item Two
          li
            a(href='contact.html') Contact
      // #nav-menu-container
// #header
// start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        h1.text-white
          | Contact Us
        p.text-white.link-nav
          a(href='index.html') Home 
          span.lnr.lnr-arrow-right
          a(href='contact.html')  Contact Us
// End banner Area
// Start contact-page Area
section.contact-page-area.section-gap
  .container
    .row
      #map.map-wrap(style='width:100%; height: 445px;')
      .col-lg-4.d-flex.flex-column.address-wrap
        .single-contact-address.d-flex.flex-row
          .icon
            span.lnr.lnr-home
          .contact-details
            h5 Binghamton, New York
            p
              | 4343 Hinkle Deegan Lake Road
        .single-contact-address.d-flex.flex-row
          .icon
            span.lnr.lnr-phone-handset
          .contact-details
            h5 00 (958) 9865 562
            p Mon to Fri 9am to 6 pm
        .single-contact-address.d-flex.flex-row
          .icon
            span.lnr.lnr-envelope
          .contact-details
            h5 support@colorlib.com
            p Send us your query anytime!
      .col-lg-8
        form#myForm.form-area.contact-form.text-right(action='mail.php' method='post')
          .row
            .col-lg-6.form-group
              input.common-input.mb-20.form-control(name='name' placeholder='Enter your name' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" required='' type='text')
              input.common-input.mb-20.form-control(name='email' placeholder='Enter email address' pattern='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" required='' type='email')
              input.common-input.mb-20.form-control(name='subject' placeholder='Enter subject' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter subject'" required='' type='text')
            .col-lg-6.form-group
              textarea.common-textarea.form-control(name='message' placeholder='Enter Messege' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Messege'" required='')
            .col-lg-12
              .alert-msg(style='text-align: left;')
              button.genric-btn.primary(style='float: right;') Send Message
// End contact-page Area
// start footer Area
footer.footer-area.section-gap
  .container
    .row
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Top Products
          ul
            li
              a(href='#') Managed Website
            li
              a(href='#') Manage Reputation
            li
              a(href='#') Power Tools
            li
              a(href='#') Marketing Service
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Quick links
          ul
            li
              a(href='#') Jobs
            li
              a(href='#') Brand Assets
            li
              a(href='#') Investor Relations
            li
              a(href='#') Terms of Service
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Features
          ul
            li
              a(href='#') Jobs
            li
              a(href='#') Brand Assets
            li
              a(href='#') Investor Relations
            li
              a(href='#') Terms of Service
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Resources
          ul
            li
              a(href='#') Guides
            li
              a(href='#') Research
            li
              a(href='#') Experts
            li
              a(href='#') Agencies
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 Newsletter
          p Stay update with our latest
          #mc_embed_signup
            form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
              .input-group
                input.form-control(type='text' name='EMAIL' placeholder='Enter Email Address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '" required='')
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.lnr.lnr-arrow-right
                .info
    .footer-bottom.row.align-items-center.justify-content-between
      p.footer-text.m-0.col-lg-6.col-md-12
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        | Copyright &copy;
        script.
          document.write(new Date().getFullYear());
        |  All rights reserved | This template is made with 
        i.fa.fa-heart-o(aria-hidden='true')
        |  by 
        a(href='https://colorlib.com' target='_blank') Colorlib
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-6.col-sm-12.footer-social
        a(href='#')
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-dribbble
        a(href='#')
          i.fa.fa-behance
// End footer Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
script(src='js/easing.min.js')
script(src='js/hoverIntent.js')
script(src='js/superfish.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.tabs.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
