
doctype html
head
  // Mobile Specific Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon' href='img/fav.png')
  // Author Meta
  meta(name='author' content='colorlib')
  // Meta Description
  meta(name='description' content='')
  // Meta Keyword
  meta(name='keywords' content='')
  // meta character set
  meta(charset='UTF-8')
  // Site Title
  title HNTutor
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700' rel='stylesheet')
  //
    CSS
    =============================================
  link(rel='stylesheet' href='css/linearicons.css')
  link(rel='stylesheet' href='css/font-awesome.min.css')
  link(rel='stylesheet' href='css/bootstrap.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='css/nice-select.css')
  link(rel='stylesheet' href='css/animate.min.css')
  link(rel='stylesheet' href='css/owl.carousel.css')
  link(rel='stylesheet' href='css/jquery-ui.css')
  link(rel='stylesheet' href='css/main.css')
  link(rel='stylesheet' href='css/style.css')
  
header#header
  .header-top
    .container
      .row
        .col-lg-4.col-sm-4.col-4.header-top-left.no-padding
          ul
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-dribbble
            li
              a(href='#')
                i.fa.fa-behance
        .col-lg-4.col-sm-4.col-4.header-top-center.no-padding
          a(href='/gia-su')
            button.btn.btn-light.btn-sm.text-uppercase(type='button') D&agrave;nh cho gia s&#x1B0;
          span &nbsp; 
          span &nbsp;
          span &nbsp;
          a(href='/dangkythuegiasu')
            button.btn.btn-primary.btn-sm.text-uppercase(type='button')  &Dstrok;&abreve;ng k&yacute; thu&ecirc; gia s&#x1B0;
        .col-lg-4.col-sm-4.col-4.header-top-right.no-padding
          a(href='tel:+953 012 3654 896')
            span.lnr.lnr-phone-handset
            span.text +84 0961100826
          a(href='mailto:support@colorlib.com')
            span.lnr.lnr-envelope
            span.text hieudao03021999@gmail.com
  .container.main-menu
    .row.align-items-center.justify-content-between.d-flex
      #logo
        a(href='/')
          img(src='img/logo1.png' alt='' title='')
      nav#nav-menu-container
        ul.nav-menu
          li
            a(href='/') Trang ch&#x1EE7;
          li
            a(href='/gioithieu') Gi&#x1EDB;i thi&#x1EC7;u
          li
            a(href='danhsachlopmoi') Danh s&aacute;ch c&aacute;c l&#x1EDB;p m&#x1EDB;i
          
          li
            a(href='/blog-khach-hang') Blog kh&aacute;ch h&agrave;ng
          li.menu-has-children
            a(href='/blog-gia-su') Blog gia s&#x1B0;
            
          li
            a(href='/contact') Li&ecirc;n h&#x1EC7;
      // #nav-menu-container
// #header
// start banner Area
section#home.banner-area.relative
  .overlay.overlay-bg
  .container
    .row.fullscreen.d-flex.align-items-center.justify-content-between
      .banner-content.col-lg-9.col-md-12
        h1.text-uppercase
          | Trung t&acirc;m HNTutor
          | Ch&#x1EA5;t l&#x1B0;&#x1EE3;ng-Uy t&iacute;n
        p.pt-10.pb-10
          | &Dstrok;&#x1ED9;i ng&utilde; gia s&#x1B0; ch&#x1EA5;t l&#x1B0;&#x1EE3;ng , &dstrok;&#x1B0;&#x1EE3;c tuy&#x1EC3;n d&#x1EE5;ng t&#x1EEB; c&aacute;c sinh vi&ecirc;n &#x1B0;u t&uacute;, gi&#x1EA3;ng vi&ecirc;n c&#x1EE7;a c&aacute;c tr&#x1B0;&#x1EDD;ng &dstrok;&#x1EA1;i h&#x1ECD;c c&ugrave;ng v&#x1EDB;i ph&#x1B0;&#x1A1;ng ph&aacute;p h&#x1ECD;c Iso gi&uacute;p cho vi&#x1EC7;c h&#x1ECD;c tr&#x1EDF; l&ecirc;n d&#x1EC5; d&agrave;ng h&#x1A1;n bao gi&#x1EDD; h&#x1EBF;t.
        a.primary-btn.text-uppercase(href='/dangkythuegiasu') Tham gia lu&ocirc;n
// End banner Area
// Start feature Area
section.feature-area
  .container
    .row
      .col-lg-4
        .single-feature
          .title
            h4 D&#x1EA1;y hi&#x1EC7;u qu&#x1EA3;
          .desc-wrap
            p
              | Con ch&#x1EC9; c&oacute; th&#x1EC3; h&#x1ECD;c t&#x1ED1;t n&#x1EBF;u y&ecirc;u th&iacute;ch vi&#x1EC7;c h&#x1ECD;c. Gia s&#x1B0; t&#x1EA1;i HNTutor lu&ocirc;n bi&#x1EBF;t c&aacute;ch t&#x1EA1;o &dstrok;&#x1ED9;ng l&#x1EF1;c cho con, b&#x1EB1;ng c&aacute;c ph&#x1B0;&#x1A1;ng ph&aacute;p gi&#x1EA3;ng d&#x1EA1;y th&uacute; v&#x1ECB;, d&#x1EC5; hi&#x1EC3;u v&agrave; hi&#x1EC7;u qu&#x1EA3;.
            a.js-scroll-trigger.active(href='/dangkythuegiasu') &Dstrok;&abreve;ng k&yacute; ngay
      .col-lg-4
        .single-feature
          .title
            h4 Ti&#x1EBF;n b&#x1ED9; nhanh
          .desc-wrap
            p
              | V&#x1EDB;i gia s&#x1B0; gi&#x1ECF;i t&#x1EA1;i HNTutor, con b&#x1EA1;n s&#x1EBD; nhanh ch&oacute;ng h&#x1ECD;c t&#x1EAD;p ti&#x1EBF;n b&#x1ED9;, c&oacute; k&#x1EBF;t qu&#x1EA3; kh&aacute;c bi&#x1EC7;t ch&#x1EC9; sau 10 bu&#x1ED5;i h&#x1ECD;c: Con ch&abreve;m ngoan, h&#x1ECD;c t&#x1ED1;t h&#x1A1;n, &dstrok;i&#x1EC3;m s&#x1ED1; cao h&#x1A1;n.
            a.js-scroll-trigger.active(href='/dangkythuegiasu') &Dstrok;&abreve;ng k&yacute; ngay
      .col-lg-4
        .single-feature
          .title
            h4 H&#x1ECD;c th&#x1EED; 2 bu&#x1ED5;i
          .desc-wrap
            p
              | Sau 2 bu&#x1ED5;i h&#x1ECD;c th&#x1EED; &dstrok;&#x1EA7;u ti&ecirc;n, n&#x1EBF;u kh&ocirc;ng h&agrave;i l&ograve;ng v&#x1EC1; gia s&#x1B0;, b&#x1EA1;n kh&ocirc;ng c&#x1EA7;n ph&#x1EA3;i thanh to&aacute;n h&#x1ECD;c ph&iacute;. T&#x1EA5;t nhi&ecirc;n, HNTutor lu&ocirc;n c&oacute; nh&#x1EEF;ng gia s&#x1B0; khi&#x1EBF;n b&#x1EA1;n h&agrave;i l&ograve;ng nh&#x1EA5;t.
            a.js-scroll-trigger.active(href='/dangkythuegiasu') &Dstrok;&abreve;ng k&yacute; ngay
// End feature Area
// Start popular-course Area
section.popular-course-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-70.col-lg-8
        .title.text-center
          h1.mb-10 Tin ti&ecirc;u &dstrok;i&#x1EC3;m
          p
    .row
      .active-popular-carusel
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p1.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | N&#x1ED9;i quy nh&#x1EAD;n l&#x1EDB;p gia s&#x1B0; d&#x1EA1;y k&egrave;m
            p
              | QU&Yacute; TH&#x1EA6;Y C&Ocirc; V&Agrave; C&Aacute;C B&#x1EA0;N SINH VI&Ecirc;N KHI &Dstrok;&#x1EBE;N TRUNG T&Acirc;M GIA S&#x1AF; TH&Agrave;NH T&Agrave;I NH&#x1EAC;N L&#x1EDA;P C&#x1EA6;N MANG THEO: + Th&#x1EBB; GV, b&#x1EB1;ng t&#x1ED1;t nghi&#x1EC7;p (&dstrok;&#x1ED1;i v&#x1EDB;i GV), th&#x1EBB; sinh vi&ecirc;n (&dstrok;&#x1ED1;i v&#x1EDB;i Sinh vi&ecirc;n). + Gi&#x1EA5;y CMND.
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p2.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | B&#x1EA3;ng gi&aacute; t&#x1EA1;i trung t&acirc;m gia s&#x1B0; HNTutor
            p
              | D&#x1ECB;ch v&#x1EE5; b&#x1EA3;ng gi&aacute; gia s&#x1B0; d&#x1EA1;y k&egrave;m t&#x1EA1;i nh&agrave; H&agrave; N&#x1ED9;i, chuy&ecirc;n gia s&#x1B0; To&aacute;n, L&yacute;, Ho&aacute;, V&abreve;n, d&#x1EA1;y ti&#x1EBF;ng Anh Ielts, Toeic, Avgt, Ng&#x1EEF; Ph&aacute;p Ti&#x1EBF;ng Anh. Cung c&#x1EA5;p gia s&#x1B0; &Dstrok;&agrave;n Nh&#x1EA1;c, Gia S&#x1B0; Luy&#x1EC7;n Thi V&agrave;o L&#x1EDB;p 10...
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p3.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | &Dstrok;&#x1ED9;i ng&utilde; gia s&#x1B0; t&#x1EA1;i trung t&acirc;m ch&uacute;ng t&ocirc;i
            p
              | Con b&#x1EA1;n &dstrok;ang h&#x1ECD;c t&#x1EAD;p sa s&uacute;t? Con b&#x1EA1;n s&#x1EAF;p thi h&#x1ECD;c k&#x1EF3;? B&#x1EA1;n ch&#x1B0;a c&oacute; nhi&#x1EC1;u th&#x1EDD;i gian &dstrok;&#x1EC3; k&egrave;m c&#x1EAD;p c&aacute;c em? B&#x1EA1;n &dstrok;ang t&igrave;m m&#x1ED9;t gia s&#x1B0; gi&#x1ECF;i trong t&acirc;p th&#x1EC3; gia s&#x1B0; gi&#x1ECF;i t&#x1EA1;i H&agrave; N&#x1ED9;i? B&#x1EA1;n th&#x1EAD;t s&#x1EF1; r&#x1EA5;t kh&oacute; kh&abreve;n &dstrok;&#x1EC3; t&igrave;m gia s&#x1B0; cho
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p4.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | H&#x1ECD;c Ph&iacute; Gia S&#x1B0; Qu&#x1EAD;n 7, gia s&#x1B0; qu&#x1EAD;n G&ograve; V&#x1EA5;p, gia s&#x1B0; qu&#x1EAD;n qu&#x1EAD;n Th&#x1EE7; &Dstrok;&#x1EE9;c
            p
              | D&#x1B0;&#x1EDB;i &dstrok;&acirc;y l&agrave; b&#x1EA3;ng gi&aacute; h&#x1ECD;c ph&iacute; gia s&#x1B0; qu&#x1EAD;n 7, h&#x1ECD;c ph&iacute; gia s&#x1B0; qu&#x1EAD;n G&ograve; V&#x1EA5;p, h&#x1ECD;c ph&iacute; gia s&#x1B0; qu&#x1EAD;n Th&#x1EE7; &Dstrok;&#x1EE9;c
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p1.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | B&#x1EA3;ng gi&aacute; h&#x1ECD;c ph&iacute; gia s&#x1B0; d&#x1EA1;y k&egrave;m qu&#x1EAD;n 2, h&#x1ECD;c ph&iacute; gia s&#x1B0; d&#x1EA1;y k&egrave;m qu&#x1EAD;n 9
            p
              | H&#x1ECD;c ph&iacute; gia s&#x1B0; d&#x1EA1;y k&egrave;m qu&#x1EAD;n 2 v&agrave; h&#x1ECD;c ph&iacute; gia s&#x1B0; d&#x1EA1;y k&egrave;m qu&#x1EAD;n 9 chi ti&#x1EBF;t, &dstrok;&#x1EA7;y &dstrok;&#x1EE7;, ti&#x1EBF;t ki&#x1EC7;m v&agrave; uy t&iacute;n &dstrok;&#x1EBF;n qu&yacute; ph&#x1EE5; huynh, h&#x1ECD;c sinh &dstrok;ang t&#x1EA1;m tr&uacute;, th&#x1B0;&#x1EDD;ng tr&uacute; t&#x1EA1;i 2 qu&#x1EAD;n n&agrave;y.
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p2.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | D&#x1ECA;CH V&#x1EE4; &Dstrok;&Abreve;NG TIN T&Igrave;M GIA S&#x1AF;, TR&#x1EE2; GI&#x1EA2;NG, GI&Aacute;O VI&Ecirc;N C&Aacute; NH&Acirc;N, TR&#x1AF;&#x1EDC;NG H&#x1ECC;C, TRUNG T&Acirc;M
            p
              | V&#x1EDB;i &dstrok;&#x1ED9;i gia s&#x1B0;, gi&aacute;o vi&ecirc;n c&oacute; chuy&ecirc;n m&ocirc;n hi&#x1EC7;n &dstrok;ang m&#x1EDF; d&#x1ECB;ch v&#x1EE5; &dstrok;&abreve;ng tin tuy&#x1EC3;n d&#x1EE5;ng gi&aacute;o vi&ecirc;n, t&igrave;m gia s&#x1B0;, t&igrave;m sinh vi&ecirc;n v&agrave; gi&aacute;o vi&ecirc;n cho c&aacute; nh&acirc;n, trung t&acirc;m, tr&#x1B0;&#x1EDD;ng h&#x1ECD;c
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p3.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | DANH S&Aacute;CH L&#x1EDA;P M&#x1EDA;I C&#x1EA6;N T&Igrave;M GIA S&#x1AF; D&#x1EA0;Y K&Egrave;M T&#x1EA0;I NH&Agrave; TPHCM
            p
              | DANH S&Aacute;CH L&#x1EDA;P TO&Aacute;N - L&Yacute; - HO&Aacute; - V&Abreve;N - TI&#x1EBE;NG ANH SGK, IELTS, TOEFL, TI&#x1EBE;NG NH&#x1EAC;T - HOA - PH&Aacute;P - ANH - GUITAR, ORGAN, PIANO, UKULELE, TO&Aacute;N - TI&#x1EBE;NG VI&#x1EC6;T HS C&#x1EA4;P 1, 2, 3 &Dstrok;ANG C&#x1EA6;N T&Igrave;M GIA S&#x1AF; (FOREIGN TUTOR) D&#x1EA0;Y K&Egrave;M T&#x1EA0;I NH&Agrave; TPHCM [12/6/2019
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p4.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='#')
              h4
                | &Dstrok;&Acirc;Y L&Agrave; M&Ocirc;N H&#x1ECC;C M&Agrave; 99% NH&#x1EEE;NG NG&#x1AF;&#x1EDC;I TH&Agrave;NH C&Ocirc;NG &Dstrok;&#x1EC0;U GI&#x1ECE;I
            p
              | M&ocirc;n To&aacute;n h&#x1ECD;c d&#x1EA1;y ch&uacute;ng l&agrave; c&aacute;ch t&#x1B0; duy logic - k&#x1EF9; n&abreve;ng quan tr&#x1ECD;ng nh&#x1EA5;t c&#x1EE7;a 1 ng&#x1B0;&#x1EDD;i th&agrave;nh c&ocirc;ng
// End popular-course Area
// Start search-course Area
section.search-course-area.relative
  .overlay.overlay-bg
  .container
    .row.justify-content-between.align-items-center
      .col-lg-8.col-md-8.search-course-left
        h1.text-white
          | Gi&#x1EA3;m gi&aacute; 10 -50% 
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;trong m&ugrave;a h&egrave;
        p
          | V&#x1EDB;i &dstrok;&#x1ED9;i gia s&#x1B0;, gi&aacute;o vi&ecirc;n c&oacute; chuy&ecirc;n m&ocirc;n hi&#x1EC7;n &dstrok;ang m&#x1EDF; d&#x1ECB;ch v&#x1EE5; &dstrok;&abreve;ng tin tuy&#x1EC3;n d&#x1EE5;ng gi&aacute;o vi&ecirc;n, t&igrave;m gia s&#x1B0;, t&igrave;m sinh vi&ecirc;n v&agrave; gi&aacute;o vi&ecirc;n cho c&aacute; nh&acirc;n, trung t&acirc;m, tr&#x1B0;&#x1EDD;ng h&#x1ECD;c
        .row.details-content
          .col.single-detials
            span.lnr.lnr-graduation-hat
            a(href='/')
              h4 Chuy&ecirc;n gia h&#x1B0;&#x1EDB;ng &dstrok;&#x1EAB;n
            p
              | Vi&#x1EC7;c s&#x1EED; d&#x1EE5;ng Internet &dstrok;ang tr&#x1EDF; n&ecirc;n ph&#x1ED5; bi&#x1EBF;n h&#x1A1;n do s&#x1EF1; ti&#x1EBF;n b&#x1ED9; nhanh ch&oacute;ng c&#x1EE7;a c&ocirc;ng ngh&#x1EC7; v&agrave; s&#x1EE9;c m&#x1EA1;nh.
          .col.single-detials
            span.lnr.lnr-license
            a(href='/')
              h4 Ch&#x1EE9;ng ch&#x1EC9;
            p
              | V&#x1EDB;i s&#x1EF1; c&#x1ED1; g&#x1EAF;ng v&agrave; t&acirc;m huy&#x1EBF;t c&#x1EE7;a trung t&acirc;m , Trung t&acirc;m &dstrok;&atilde; &dstrok;&#x1EA1;t &dstrok;&#x1B0;&#x1EE3;c nhi&#x1EC1;u th&agrave;nh t&iacute;ch v&agrave; ch&#x1EE9;ng ch&#x1EC9; &dstrok;&#x1B0;&#x1EE3;c th&agrave;nh ph&#x1ED1; H&agrave; N&#x1ED9;i trao t&#x1EB7;ng.
      #dangky.col-lg-4.col-md-4.section-gap
          .single-footer-widget
            h4 Gmail
            p &Dstrok;&#x1EC3; l&#x1EA1;i gmail &dstrok;&#x1EC3; c&oacute; th&#x1EC3; nh&#x1EAD;n nh&#x1EEF;ng &#x1B0;u &dstrok;&atilde;i m&#x1EDB;i nh&acirc;t
            #mc_embed_signup
              form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
                .input-group
                  input.form-control(type='text' name='EMAIL' placeholder='Địa chỉ Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email '" required='')
                  .input-group-btn
                    button.btn.btn-default(type='submit')
                      span.lnr.lnr-arrow-right
                  .info

// End search-course Area
// Start upcoming-event Area
section.upcoming-event-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-70.col-lg-8
        .title.text-center
          h1.mb-10 Kh&aacute;ch h&agrave;ng n&oacute;i g&igrave; v&#x1EC1; trung t&acirc;m HNTutor
          p
    .row
      .active-review-carusel
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Hi&#x1EBF;u &Dstrok;&agrave;o
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Gia s&#x1B0; t&#x1EA1;i HNTutor d&#x1EA1;y h&#x1ECD;c t&#x1EAD;n t&igrave;nh, t&acirc;m huy&#x1EBF;t.N&oacute;i chung, trung t&acirc;m kh&aacute; l&agrave; oki.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Edel
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Gia s&#x1B0; kh&aacute; l&agrave; oki.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Nguy&#x1EC5;n Ch&iacute; Th&agrave;nh
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Trung t&acirc;m cung c&#x1EA5;p ch&#x1EA5;t l&#x1B0;&#x1EE3;ng t&#x1ED1;t, nhanh v&agrave; t&#x1EAD;n t&igrave;nh.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Critian Ronaldo
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | T&ocirc;i l&agrave; B&#x1ED3; &Dstrok;&#x1EA7;u Nha t&ocirc;i c&ograve;n thu&ecirc; gia s&#x1B0; &#x1EDF; &dstrok;&acirc;y.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Ng&#x1B0;&#x1EDD;i n&agrave;o &dstrok;&oacute;
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Gia s&#x1B0; t&#x1EA1;i HNTutor d&#x1EA1;y h&#x1ECD;c t&#x1EAD;n t&igrave;nh, t&acirc;m huy&#x1EBF;t.N&oacute;i chung, trung t&acirc;m kh&aacute; l&agrave; oki.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Hulda Sutton
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Gia s&#x1B0; t&#x1EA1;i HNTutor d&#x1EA1;y h&#x1ECD;c t&#x1EAD;n t&igrave;nh, t&acirc;m huy&#x1EBF;t.N&oacute;i chung, trung t&acirc;m kh&aacute; l&agrave; oki.
        .single-review.item
          img(src='img/r1.png' alt='')
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Fannie Rowe
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Gia s&#x1B0; t&#x1EA1;i HNTutor d&#x1EA1;y h&#x1ECD;c t&#x1EAD;n t&igrave;nh, t&acirc;m huy&#x1EBF;t.N&oacute;i chung, trung t&acirc;m kh&aacute; l&agrave; oki.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Elison
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Gia s&#x1B0; t&#x1EA1;i HNTutor d&#x1EA1;y h&#x1ECD;c t&#x1EAD;n t&igrave;nh, t&acirc;m huy&#x1EBF;t.N&oacute;i chung, trung t&acirc;m kh&aacute; l&agrave; oki.
// End upcoming-event Area

// Start cta-one Area
section.cta-one-area.relative.section-gap
  .container
    .overlay.overlay-bg
    .row.justify-content-center
      .wrap
        h1.text-white L&#x1EF1;a ch&#x1ECD;n th&ocirc;ng minh
        p
          | H&atilde;y tr&#x1EDF; th&agrave;nh nh&#x1EEF;ng ph&#x1EE5; huynh th&ocirc;ng minh v&#x1EDB;i nh&#x1EEF;ng l&#x1EF1;a ch&#x1ECD;n s&aacute;ng su&#x1ED1;t.
        a.primary-btn.wh.js-scroll-trigger.active(href='#dangky') &Dstrok;&abreve;ng k&yacute; ngay
// End cta-one Area
// Start blog Area
section#blog.blog-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-70.col-lg-8
        .title.text-center
          h1.mb-10 Blog gia s&#x1B0;
          p
    .row
      .col-lg-3.col-md-6.single-blog
        .thumb
          img.img-fluid(src='img/b1.jpg' alt='')
        p.meta
          | 25 April, 2018  |  By 
          a(href='#') HNTutor
        a(href='blog-single.html')
          h5 L&agrave;m sao &dstrok;&#x1EC3; t&#x1EF1; tin khi &dstrok;i d&#x1EA1;y gia s&#x1B0;
        p
          | &Dstrok;&#x1EC3; l&agrave; m&#x1ED9;t gia s&#x1B0; gi&#x1ECF;i, ngo&agrave;i y&#x1EBF;u t&#x1ED1; ki&#x1EBF;n th&#x1EE9;c, b&#x1EA1;n ph&#x1EA3;i l&agrave; m&#x1ED9;t ng&#x1B0;&#x1EDD;i t&#x1EF1; tin. T&#x1EF1; tin s&#x1EBD; gi&uacute;p truy&#x1EC1;n &dstrok;&#x1EA1;t ki&#x1EBF;n th&#x1EE9;c m&#x1ED9;t c&aacute;ch r&otilde; r&agrave;ng, khi&#x1EBF;n h&#x1ECD;c sinh c&#x1EA3;m th&#x1EA5;y tin t&#x1B0;&#x1EDF;ng v&agrave;o nh&#x1EEF;ng g&igrave; &dstrok;ang &dstrok;&#x1B0;&#x1EE3;c h&#x1ECD;c. V&#x1EAD;y l&agrave;m th&#x1EBF; n&agrave;o &dstrok;&#x1EC3; b&#x1EA1;n t&#x1EF1; tin h&#x1A1;n khi &dstrok;i d&#x1EA1;y gia s&#x1B0;?
        a.details-btn.d-flex.justify-content-center.align-items-center(href='#')
          span.details Details
          span.lnr.lnr-arrow-right
      .col-lg-3.col-md-6.single-blog
        .thumb
          img.img-fluid(src='img/b2.jpg' alt='')
        p.meta
          | 25 April, 2018  |  By 
          a(href='#') HNTutor
        a(href='blog-single.html')
          h5 L&agrave;m sao &dstrok;&#x1EC3; h&#x1ECD;c sinh nghe l&#x1EDD;i
        p
          | D&ugrave; gi&#x1EA3;ng d&#x1EA1;y t&#x1EA1;i tr&#x1B0;&#x1EDD;ng hay l&agrave; d&#x1EA1;y gia s&#x1B0; t&#x1EA1;i nh&agrave;, ai c&utilde;ng mu&#x1ED1;n cho h&#x1ECD;c sinh c&#x1EE7;a m&igrave;nh ngoan ngo&atilde;n, nghe l&#x1EDD;i. &Dstrok;i&#x1EC1;u n&agrave;y s&#x1EBD; khi&#x1EBF;n cho vi&#x1EC7;c truy&#x1EC1;n &dstrok;&#x1EA1;t ki&#x1EBF;n th&#x1EE9;c c&#x1EE7;a m&igrave;nh tr&#x1EDF; n&ecirc;n d&#x1EC5; d&agrave;ng h&#x1A1;n. M&#x1ED9;t s&#x1ED1; kinh nghi&#x1EC7;m sau &dstrok;&acirc;y c&oacute; th&#x1EC3; khi&#x1EBF;n cho h&#x1ECD;c sinh nghe l&#x1EDD;i b&#x1EA1;n.
        a.details-btn.d-flex.justify-content-center.align-items-center(href='#')
          span.details Details
          span.lnr.lnr-arrow-right
      .col-lg-3.col-md-6.single-blog
        .thumb
          img.img-fluid(src='img/b3.jpg' alt='')
        p.meta
          | 25 April, 2018  |  By 
          a(href='#') HNTutor
        a(href='blog-single.html')
          h5 Nh&#x1EEF;ng l&#x1B0;u &yacute; cho gia s&#x1B0; khi &dstrok;i d&#x1EA1;y bu&#x1ED5;i &dstrok;&#x1EA7;u
        p
          | B&#x1EA5;t c&#x1EE9; bu&#x1ED5;i &dstrok;&#x1EA7;u ti&ecirc;n n&agrave;o b&#x1EA1;n c&utilde;ng s&#x1EBD; c&#x1EA3;m th&#x1EA5;y b&#x1EE1; ng&#x1EE1; v&agrave; lo l&#x1EAF;ng. Bu&#x1ED5;i &dstrok;&#x1EA7;u ti&ecirc;n &dstrok;i d&#x1EA1;y gia s&#x1B0; c&utilde;ng v&#x1EAD;y, b&#x1EA1;n s&#x1EBD; kh&ocirc;ng th&#x1EC3; tr&aacute;nh kh&#x1ECF;i nh&#x1EEF;ng h&#x1ED3;i h&#x1ED9;p. S&#x1EF1; chu&#x1EA9;n b&#x1ECB; k&#x1EF9; l&#x1B0;&#x1EE1;ng c&#x1EE7;a gia s&#x1B0; s&#x1EBD; gi&uacute;p bu&#x1ED5;i &dstrok;&#x1EA7;u &dstrok;i d&#x1EA1;y &dstrok;&#x1B0;&#x1EE3;c su&ocirc;n s&#x1EBB;, thu&#x1EAD;n l&#x1EE3;i, t&#x1EA1;o &#x1EA5;n t&#x1B0;&#x1EE3;ng t&#x1ED1;t cho ph&#x1EE5; huynh v&agrave; h&#x1ECD;c sinh.
        a.details-btn.d-flex.justify-content-center.align-items-center(href='#')
          span.details Details
          span.lnr.lnr-arrow-right
      .col-lg-3.col-md-6.single-blog
        .thumb
          img.img-fluid(src='img/b4.jpg' alt='')
        p.meta
          | 25 April, 2018  |  By 
          a(href='#') HNTutor
        a(href='blog-single.html')
          h5 C&aacute;ch gi&#x1EA3;ng d&#x1EA1;y cho h&#x1ECD;c sinh l&#x1B0;&#x1EDD;i h&#x1ECD;c
        p
          | C&oacute; nhi&#x1EC1;u l&yacute; do ph&#x1EE5; huynh m&#x1EDD;i gia s&#x1B0; &dstrok;&#x1EBF;n nh&agrave; &dstrok;&#x1EC3; gi&#x1EA3;ng d&#x1EA1;y. Nh&#x1B0;ng l&yacute; do ch&#x1EE7; y&#x1EBF;u l&agrave; b&#x1EDF;i h&#x1ECD;c sinh l&#x1B0;&#x1EDD;i h&#x1ECD;c, d&#x1EAB;n t&#x1EDB;i h&#x1ECD;c k&eacute;m. V&#x1EAD;y l&agrave;m th&#x1EBF; n&agrave;o &dstrok;&#x1EC3; b&#x1EA1;n c&oacute; th&#x1EC3; gi&#x1EA3;ng d&#x1EA1;y t&#x1ED1;t cho nh&#x1EEF;ng h&#x1ECD;c sinh l&#x1B0;&#x1EDD;i h&#x1ECD;c n&agrave;y?
        a.details-btn.d-flex.justify-content-center.align-items-center(href='#')
          span.details Details
          span.lnr.lnr-arrow-right
// End blog Area

// start footer Area
footer.footer-area.section-gap
  .container
    .row
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 L&ecirc;n h&#x1EC7; v&#x1EDB;i ch&uacute;ng t&ocirc;i
          ul
            li
              i.fa.fa-map-marker
              span.text 206/04,X&oacute;m c&#x1EA3;, Nguy&ecirc;n X&aacute;, Minh Khai, B&#x1EAF;c T&#x1EEB; Li&ecirc;m, H&agrave; N&#x1ED9;i
            li
              i.fa.fa-phone
              span.text +84 0961100826
            li
              i.fa.fa-envelope
              span.text hieudao03021999@gmail.com
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 V&#x1EC1; HNTutor
          ul
            li
              a(href='/') Trang ch&#x1EE7;
            li
              a(href='/gioithieu') Gi&#x1EDB;i thi&#x1EC7;u
            li
              a(href='/danhsachlopmoi') Danh s&aacute;ch l&#x1EDB;p m&#x1EDB;i
            li
              a(href='/contact') Li&ecirc;n H&#x1EC7;
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Blog
          ul
            li
              a(href='/blog-khach-hang') Blog kh&aacute;ch h&agrave;ng
            li
              a(href='/blog-gia-su') Blog gia s&#x1B0;
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 Gmail
          p &Dstrok;&#x1EC3; l&#x1EA1;i gmail &dstrok;&#x1EC3; c&oacute; th&#x1EC3; nh&#x1EAD;n nh&#x1EEF;ng &#x1B0;u &dstrok;&atilde;i m&#x1EDB;i nh&acirc;t
          #mc_embed_signup
            form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
              .input-group
                input.form-control(type='text' name='EMAIL' placeholder='Địa chỉ Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email '" required='')
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.lnr.lnr-arrow-right
                .info
    .footer-bottom.row.align-items-center.justify-content-between
      p.footer-text.m-0.col-lg-6.col-md-12
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        | B&#x1EA3;n quy&#x1EC1;n &copy;
        script.
          document.write(new Date().getFullYear());
        |  c&#x1EE7;a S&#x1EA3;n ph&#x1EA9;m  
        i.fa.fa-heart-o(aria-hidden='true')
        | thu&#x1ED9;c v&#x1EC1; 
        a(href='https://colorlib.com' target='_blank') Hi&#x1EBF;u &Dstrok;&agrave;o
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-6.col-sm-12.footer-social
        a(href='#')
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-dribbble
        a(href='#')
          i.fa.fa-behance
// End footer Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
script(src='js/easing.min.js')
script(src='js/hoverIntent.js')
script(src='js/superfish.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.tabs.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
