

head
  title Education
  link(rel='stylesheet', href='/css/linearicons.css')
  link(rel='stylesheet', href='/css/font-awesome.min.css')
  link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/magnific-popup.css')
  link(rel='stylesheet', href='/css/nice-select.css')
  link(rel='stylesheet', href='/css/animate.min.css')
  link(rel='stylesheet', href='/css/owl.carousel.css')
  link(rel='stylesheet', href='/css/jquery-ui.css')
  link(rel='stylesheet', href='/css/main.css')
  link(rel='stylesheet', href='/css/util.css')
  link(rel='stylesheet', href='/css/main_register.css')
  link(rel='stylesheet', href='/css/login.css')
  link(rel='stylesheet', href='/css/nr-ext-select-icon.css')
  link(rel='stylesheet', href='/css/style.min.css')
  link(href='css/bootstrap-grid.css' rel='stylesheet')

  style(type='text/css').
    .fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
    .fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_dialog_advanced{border-radius:8px;padding:10px}.fb_dialog_content{background:#fff;color:#373737}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{left:5px;right:auto;top:5px}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{height:100%;left:0;margin:0;overflow:visible;position:absolute;top:-10000px;transform:none;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{background:none;height:auto;min-height:initial;min-width:initial;width:auto}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{clear:both;color:#fff;display:block;font-size:18px;padding-top:20px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .4);bottom:0;left:0;min-height:100%;position:absolute;right:0;top:0;width:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_mobile .fb_dialog_iframe{position:sticky;top:0}.fb_dialog_content .dialog_header{background:linear-gradient(from(#738aba), to(#2c4987));border-bottom:1px solid;border-color:#043b87;box-shadow:white 0 1px 1px -1px inset;color:#fff;font:bold 14px Helvetica, sans-serif;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:linear-gradient(from(#4267B2), to(#2a4887));background-clip:padding-box;border:1px solid #29487d;border-radius:3px;display:inline-block;line-height:18px;margin-top:3px;max-width:85px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{background:none;border:none;color:#fff;font:bold 12px Helvetica, sans-serif;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #4a4a4a;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f5f6f7;border:1px solid #4a4a4a;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-position:50% 50%;background-repeat:no-repeat;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
    .fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}
header#header
  .header-top
    .container
      .row
        .col-lg-3.col-sm-4.col-3.header-top-left.no-padding
          ul
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-dribbble
            li
              a(href='#')
                i.fa.fa-behance
        .col-lg-5.col-sm-4.col-5.header-top-right.no-padding
          if user
            a(href='/cap-nhat-thong-tin')
              button.btn.btn-light.btn-sm.text-uppercase(type='button') Cập nhật thông tin
            a(href='/logout')
              button.btn.btn-primary.btn-sm.text-uppercase(type='button')  Đăng xuất
          else
            a(href='/dang-ky-lam-gia-su')
              button.btn.btn-light.btn-sm.text-uppercase(type='button') &Dstrok;&abreve;ng k&yacute; l&agrave;m gia s&#x1B0;
            a(href='/login')
              button.btn.btn-primary.btn-sm.text-uppercase(type='button')  &Dstrok;&abreve;ng nh&#x1EAD;p v&agrave;o t&agrave;i kho&#x1EA3;n
       
        .col-lg-4.col-sm-4.col-4.header-top-right.no-padding
          if user 
            <i class="fa fa-user"></i>  #{user.email}
          else
            a(href='tel:+953 012 3654 896')
              span.lnr.lnr-phone-handset
              span.text +84 0961100826
            a(href='mailto:support@colorlib.com')
              span.lnr.lnr-envelope
              span.text hieudao03021999@gmail.com
    .row.m
      .container.main-menu
        .row.align-items-center.justify-content-between.d-flex
          #logo
            a(href='/')
              img(src='/img/logo1.png' alt='' title='')
          nav#nav-menu-container
            ul.nav-menu
              li
                a(href='/') Trang ch&#x1EE7;
              li
                a(href='/danhsachlopmoi') Danh s&aacute;ch c&aacute;c l&#x1EDB;p m&#x1EDB;i
              li
                a(href='/cach-thuc-nhan-lop') C&aacute;ch th&#x1EE9;c nh&#x1EAD;n l&#x1EDB;p
              li
                a(href='/chinh-sach-hoan-phi') Ch&iacute;nh s&aacute;ch ho&agrave;n ph&iacute;
              li
                a(href='/chinh-sach-hoc-thu') Ch&iacute;nh s&aacute;ch h&#x1ECD;c th&#x1EED;
              li.menu-has-children
                a(href='') Blog gia s&#x1B0;
              li
                a(href='/contact') Li&ecirc;n h&#x1EC7;
// #header
main(role='main')
  .container.alert-group
  .container
    .row
      .col-lg-9.pl-lg-5
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='/cap-nhat-thong-tin')
                i.fa.fa-home
            li.breadcrumb-item
              a(href='/cap-nhat-thong-tin') T&agrave;i kho&#x1EA3;n c&#x1EE7;a t&ocirc;i
            li.breadcrumb-item.active(aria-current='page') 
        h3 Lớp đã nhận
        .row
          each lophoc in lophocs
        
            -var title = "Mã Lớp : GS0" + lophoc._id 
            -var ten= lophoc.monhoc +" - " +lophoc.lophoc
            -var sobuoi= "250.000đ/buổi,  " + lophoc.sobuoi + " buổi/tuần"
            -var yeucau= "Yêu cầu : "+ lophoc.yeucaugiasu
            if lophoc.tinhtrang === false
              .single-popular-carusel.col-lg-4.col-md-6
                .details
                  .card.border-secondary.mb-3(style='max-width: 18rem;  height: 300px;	overflow: hidden;')
                    .card-header.font-weight-bold(style='color: white; background: blue;')= title
                    .card-body.text-secondary
                      h5.card-title
                        i.fa.fa-book
                        span &nbsp;
                        = ten
                      p.card-text
                        i.fa.fa-map-marker
                        span &nbsp;
                        = lophoc.diachi
                      p.card-text
                        i.fa.fa-user-secret
                        span &nbsp;
                        = sobuoi
                      p.card-text
                        i.fa.fa-address-book
                        span &nbsp;
                        = yeucau
                      a.button.btn.btn-primary.float-right(href='/danhsachlopmoi/' + lophoc._id) Xem chi ti&#x1EBF;t
          
        .mt-4.text-right
          a.btn.btn-secondary.mr-4.btn-cancel(href='/cap-nhat-thong-tin/vi-tri-gia-su') Quay l&#x1EA1;i
          input.btn.btn-primary(type='submit' value='Tiếp theo')

      .col-lg-3.order-lg-first.mt-5.mt-lg-0
        .mb-2.h5
          a(href='') H&#x1ED3; s&#x1A1; gia s&#x1B0;
        ul.sidebar-nav.list-unstyled
          li.nav-item
            a.nav-link(href='/cap-nhat-thong-tin')
              i.fa.fa-caret-right
              |  Th&ocirc;ng tin c&#x1A1; b&#x1EA3;n 
              i.fa.fa-exclamation-circle
          li.nav-item
              a.nav-link.active(href='/cap-nhat-thong-tin/the-can-cuoc')
                i.fa.fa-caret-right
                |  Thẻ căn cước
                i.fa.fa-exclamation-circle
          li.nav-item
            a.nav-link.active(href='/cap-nhat-thong-tin/vi-tri-gia-su')
              i.fa.fa-caret-right
              |  V&#x1ECB; tr&iacute; gia s&#x1B0; 
              i.fa.fa-exclamation-circle
          
       
        .mt-4.pt-2.h5
          a(href='/cap-nhat-thong-tin/lop-da-nhan')
            span L&#x1EDB;p &dstrok;&atilde; nh&#x1EAD;n
            span.text-muted.h6= '( ' + count +')'
        p.text-muted.mt-2.mb-0= 'Bạn đã nhận ' + count+ ' lớp !'
footer.footer-area.section-gap
  .container
    .row
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 L&ecirc;n h&#x1EC7; v&#x1EDB;i ch&uacute;ng t&ocirc;i
          ul
            li
              i.fa.fa-map-marker
              span.text 206/04,X&oacute;m c&#x1EA3;, Nguy&ecirc;n X&aacute;, Minh Khai, B&#x1EAF;c T&#x1EEB; Li&ecirc;m, H&agrave; N&#x1ED9;i
            li
              i.fa.fa-phone
              span.text +84 0961100826
            li
              i.fa.fa-envelope
              span.text hieudao03021999@gmail.com
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 V&#x1EC1; HNTutor
          ul
            li
              a(href='#') Trang ch&#x1EE7;
            li
              a(href='#') Gi&#x1EDB;i thi&#x1EC7;u
            li
              a(href='#') Danh s&aacute;ch l&#x1EDB;p m&#x1EDB;i
            li
              a(href='#') Li&ecirc;n H&#x1EC7;
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Blog
          ul
            li
              a(href='#') Blog kh&aacute;ch h&agrave;ng
            li
              a(href='#') Blog gia s&#x1B0;
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 Gmail
          p &Dstrok;&#x1EC3; l&#x1EA1;i gmail &dstrok;&#x1EC3; c&oacute; th&#x1EC3; nh&#x1EAD;n nh&#x1EEF;ng &#x1B0;u &dstrok;&atilde;i m&#x1EDB;i nh&acirc;t
          #mc_embed_signup
            form(target='_blank' action='' method='get')
              .input-group
                input.form-control(type='text' name='EMAIL' placeholder='Địa chỉ Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email '")
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.lnr.lnr-arrow-right
                .info
    .footer-bottom.row.align-items-center.justify-content-between
      p.footer-text.m-0.col-lg-6.col-md-12
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        | B&#x1EA3;n quy&#x1EC1;n &copy;
        script.
          document.write(new Date().getFullYear());
        |  c&#x1EE7;a S&#x1EA3;n ph&#x1EA9;m  
        i.fa.fa-heart-o(aria-hidden='true')
        | thu&#x1ED9;c v&#x1EC1; 
        a(href='' target='_blank') Hi&#x1EBF;u &Dstrok;&agrave;o
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-6.col-sm-12.footer-social
        a(href='#')
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-dribbble
        a(href='#')
          i.fa.fa-behance
.my-chat-fixed
  a(href='' rel='nofollow' target='_blank' title='Đi tới Messenger')
    icon.icon-messenger
#fb-root.fb_reset
  div(style='position: absolute; top: -10000px; width: 0px; height: 0px;')
    div
#my_overlay.my-overlay

script.
  setTimeout(function () {
  var script = document.createElement('script');
  script.src = "https://www.googletagmanager.com/gtag/js?id=UA-106371976-6";
  document.body.appendChild(script);
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-106371976-6');
  }, 3000);
script.
  setTimeout(function () {
  (function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=635698216912441";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'))
  }, 5000);
iframe#nr-ext-rsicon(style='position: absolute; display: none; width: 50px; height: 50px; z-index: 2147483647; border-style: none; background: transparent;' src='./Vị Trí Gia Sư _files/saved_resource.html')
#eJOY__extension_root.eJOY__extension_root_class(style='all: unset;')

