doctype html
head
  // Mobile Specific Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon' href='img/fav.png')
  // Author Meta
  meta(name='author' content='colorlib')
  // Meta Description
  meta(name='description' content='')
  // Meta Keyword
  meta(name='keywords' content='')
  // meta character set
  meta(charset='UTF-8')
  // Site Title
  title Education
  
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700')
  link(rel='stylesheet', href='/css/linearicons.css')
  link(rel='stylesheet', href='/css/font-awesome.min.css')
  link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/magnific-popup.css')
  link(rel='stylesheet', href='/css/nice-select.css')
  link(rel='stylesheet', href='/css/animate.min.css')
  link(rel='stylesheet', href='/css/owl.carousel.css')
  link(rel='stylesheet', href='/css/jquery-ui.css')
  link(rel='stylesheet', href='/css/main.css')
  link(rel='stylesheet', href='/css/style.css')
  // <link href="css/all.css" rel="stylesheet" />
  link(rel='stylesheet', href='/css/bootstrap-grid.css' )
  script(language='javascript', src='/ckeditor/ckeditor.js')
header#header
  .header-top
    .container
      .row
        .col-lg-4.col-sm-4.col-4.header-top-left.no-padding
          ul
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-dribbble
            li
              a(href='#')
                i.fa.fa-behance
        .col-lg-4.col-sm-4.col-4.header-top-center.no-padding
          a(href='/gia-su')
            button.btn.btn-light.btn-sm.text-uppercase(type='button') D&agrave;nh cho gia s&#x1B0;
            span &nbsp;
            span &nbsp;
            span &nbsp;
          a(href='/gia-su')
            button.btn.btn-primary.btn-sm.text-uppercase(type='button')  &Dstrok;&abreve;ng k&yacute; thu&ecirc; gia s&#x1B0;
        .col-lg-4.col-sm-4.col-4.header-top-right.no-padding
          a(href='tel:+953 012 3654 896')
            span.lnr.lnr-phone-handset
            span.text +84 0961100826
          a(href='mailto:support@colorlib.com')
            span.lnr.lnr-envelope
            span.text hieudao03021999@gmail.com
  .container.main-menu
    .row.align-items-center.justify-content-between.d-flex
      #logo
        a(href='/')
          img(src='/img/logo1.png' alt='' title='')
      nav#nav-menu-container
        ul.nav-menu
          li
            a(href='/') Trang ch&#x1EE7;
          li
            a(href='/gioithieu') Gi&#x1EDB;i thi&#x1EC7;u
          li
            a(href='/danhsachlopmoi') Danh s&aacute;ch c&aacute;c l&#x1EDB;p m&#x1EDB;i
          // <li><a href="events.html">Events</a></li>
          li
            a(href='/blog-khach-hang') Blog kh&aacute;ch h&agrave;ng
          li.menu-has-children
            a(href='/blog-gia-su') Blog gia s&#x1B0;
            //
              <ul>
              <li><a href="blog-home.html">Blog Home</a></li>
              <li><a href="blog-single.html">Blog Single</a></li>
              </ul>
          //
            <li class="menu-has-children"><a href="">Pages</a>
            <ul>
            <li><a href="course-details.html">Course Details</a></li>
            <li><a href="event-details.html">Event Details</a></li>
            <li><a href="elements.html">Elements</a></li>
            <li class="menu-has-children"><a href="">Level 2 </a>
            <ul>
            <li><a href="#">Item One</a></li>
            <li><a href="#">Item Two</a></li>
            </ul>
            </li>
            </ul>
          li
            a(href='/contact') Li&ecirc;n h&#x1EC7;
      // #nav-menu-container
// #header
// start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        h1.text-white
          | Xem chi ti&#x1EBF;t l&#x1EDB;p
        p.text-white.link-nav
          a(href='/') Trang ch&#x1EE7; 
          span.lnr.lnr-arrow-right
          a(href='/danhsachlopmoi')  Xem chi ti&#x1EBF;t l&#x1EDB;p
// End banner Area
// Start event-details Area

section.event-details-area.section-gap
  .container
    .row
      .col-lg-6.event-details-left.mybg
        h1=  'Chi tiết lớp mới: GS0' + lopmoi._id
        h3 T&igrave;nh tr&#x1EA1;ng: &Dstrok;ang c&ograve;n
        br
        p.p-icon.mb-2.font-weight-bold
          i.fa.fa-book
          span &nbsp;
          span &nbsp;
          = lopmoi.monhoc +" - "+ lopmoi.lophoc
        p.text-sm-left
          i.fa.fa-map-marker
          span &nbsp;
          span &nbsp;
          = lopmoi.diachi
        if lopmoi.yeucaugiasu == "Sinh Viên"
          p.text-sm-left
            i.fa.fa-user-secret
            span &nbsp;
            span &nbsp;
            = "250.000đ/h,  " + lopmoi.sobuoi + " buổi/tuần"
        else
          p.text-sm-left
            i.fa.fa-user-secret
              span &nbsp;
              span &nbsp;
            = "400.000đ/h,  " + lopmoi.sobuoi + " buổi/tuần"

        p.text-sm-left
          i.fa.fa-history
          span &nbsp;
          span &nbsp;
          ="Ca học: " + lopmoi.buoicothehoc  
        
        p.text-sm-left
          i.fa.fa-hourglass-start
              span &nbsp;
              span &nbsp;
          = "Thời gian có thể học: "+ lopmoi.thoigian
        p.text-sm-left
          i.fa.fa-address-book
          span &nbsp;
          span &nbsp;
          = "Yêu cầu: " + lopmoi.yeucaugiasu
        br
        p.text-sm-left.font-weight-bold &Dstrok;&#x1EB7;c &dstrok;i&#x1EC3;m h&#x1ECD;c sinh
        p.text-sm-left
          i.fa.fa-transgender
              span &nbsp;
              span &nbsp;
          = "Giới tính: "+ lopmoi.gioitinh
        p.text-sm-left
          i.fa.fa-bookmark
          span &nbsp;
          span &nbsp;
          = "Học lực: "+ lopmoi.hocluc
        a(href='/dangkynhanlop/'+ lopmoi._id, onclick="return confirm('Bạn có chắc chắn nhận lớp này không');" ,data-toggle='tooltip', data-placement='top', title='Delete')
          button.btn.btn-primary(type='button') &Dstrok;&abreve;ng k&yacute; nh&#x1EAD;n l&#x1EDB;p
      .col-lg-6.col-md-6.d-flex
        -var bien= lopmoi.diachi
        -var dc= "https://www.google.com/maps/embed/v1/place?key=AIzaSyBwrnBtViHL8Kw22f4EGRZQUadOqqRkaUU&q=+"+bien+"&zoom=15"
        iframe(frameborder='0' width='100%' height='100%' data-address=dc  data-district=dc data-province='Hà Nội' src=dc)

// End event-details Area
// Start cta-two Area
//
  <section class="cta-two-area">
  <div class="container">
  <div class="row">
  <div class="col-lg-8 cta-left">
  <h1>Not Yet Satisfied with our Trend?</h1>
  </div>
  <div class="col-lg-4 cta-right">
  <a class="primary-btn wh" href="#">view our blog</a>
  </div>
  </div>
  </div>
  </section>
// End cta-two Area
// start footer Area
footer.footer-area.section-gap
  .container
    .row
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 L&ecirc;n h&#x1EC7; v&#x1EDB;i ch&uacute;ng t&ocirc;i
          ul
            li
              i.fas.fa-map-marker
              span.text 206/04,X&oacute;m c&#x1EA3;, Nguy&ecirc;n X&aacute;, Minh Khai, B&#x1EAF;c T&#x1EEB; Li&ecirc;m, H&agrave; N&#x1ED9;i
            li
              i.fas.fa-phone-alt
              span.text +84 0961100826
            li
              i.fas.fa-envelope
              span.text hieudao03021999@gmail.com
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 V&#x1EC1; HNTutor
          ul
            li
              a(href='/') Trang ch&#x1EE7;
            li
              a(href='/gioithieu') Gi&#x1EDB;i thi&#x1EC7;u
            li
              a(href='/danhsachlopmoi') Danh s&aacute;ch l&#x1EDB;p m&#x1EDB;i
            li
              a(href='/contact') Li&ecirc;n H&#x1EC7;
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Blog
          ul
            li
              a(href='/blog-khach-hang') Blog kh&aacute;ch h&agrave;ng
            li
              a(href='/blog-gia-su') Blog gia s&#x1B0;
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 Gmail
          p &Dstrok;&#x1EC3; l&#x1EA1;i gmail &dstrok;&#x1EC3; c&oacute; th&#x1EC3; nh&#x1EAD;n nh&#x1EEF;ng &#x1B0;u &dstrok;&atilde;i m&#x1EDB;i nh&acirc;t
          #mc_embed_signup
            form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
              .input-group
                input.form-control(type='text' name='EMAIL' placeholder='Địa chỉ Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email '")
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.lnr.lnr-arrow-right
                .info
    .footer-bottom.row.align-items-center.justify-content-between
      p.footer-text.m-0.col-lg-6.col-md-12
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        | B&#x1EA3;n quy&#x1EC1;n &copy;
        script.
          document.write(new Date().getFullYear());
        |  c&#x1EE7;a S&#x1EA3;n ph&#x1EA9;m  
        i.fa.fa-heart-o(aria-hidden='true')
        | thu&#x1ED9;c v&#x1EC1; 
        a(href='https://colorlib.com' target='_blank') Hi&#x1EBF;u &Dstrok;&agrave;o
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-6.col-sm-12.footer-social
        a(href='#')
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-dribbble
        a(href='#')
          i.fa.fa-behance
// End footer Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
script(src='js/easing.min.js')
script(src='js/hoverIntent.js')
script(src='js/superfish.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.tabs.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
