doctype html
head
  // Mobile Specific Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon' href='img/fav.png')
  // Meta Description
  meta(name='description' content='')
  // Meta Keyword
  meta(name='keywords' content='')
  // meta character set
  meta(charset='UTF-8')
  // Site Title
  title Giới Thiệu
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700' rel='stylesheet')
  //
    CSS
    =============================================
  link(rel='stylesheet' href='css/linearicons.css')
  link(rel='stylesheet' href='css/font-awesome.min.css')
  link(rel='stylesheet' href='css/bootstrap.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='css/nice-select.css')
  link(rel='stylesheet' href='css/animate.min.css')
  link(rel='stylesheet' href='css/owl.carousel.css')
  link(rel='stylesheet' href='css/jquery-ui.css')
  link(rel='stylesheet' href='css/main.css')
header#header
  .header-top
    .container
      .row
        .col-lg-4.col-sm-4.col-4.header-top-left.no-padding
          ul
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-dribbble
            li
              a(href='#')
                i.fa.fa-behance
        .col-lg-4.col-sm-4.col-4.header-top-center.no-padding
          a(href='/gia-su')
            button.btn.btn-light.btn-sm.text-uppercase(type='button') D&agrave;nh cho gia s&#x1B0;
            span &nbsp;
            span &nbsp;
            span &nbsp;
          a(href='/dangkythuegiasu')
            button.btn.btn-primary.btn-sm.text-uppercase(type='button')  &Dstrok;&abreve;ng k&yacute; thu&ecirc; gia s&#x1B0;
        .col-lg-4.col-sm-4.col-4.header-top-right.no-padding
          a(href='tel:+953 012 3654 896')
            span.lnr.lnr-phone-handset
            span.text +84 0961100826
          a(href='mailto:support@colorlib.com')
            span.lnr.lnr-envelope
            span.text hieudao03021999@gmail.com
  .container.main-menu
    .row.align-items-center.justify-content-between.d-flex
      #logo
        a(href='/')
          img(src='img/logo1.png' alt='' title='')
      nav#nav-menu-container
        ul.nav-menu
          li
            a(href='/') Trang ch&#x1EE7;
          li
            a(href='/gioithieu') Gi&#x1EDB;i thi&#x1EC7;u
          li
            a(href='/danhsachlopmoi') Danh s&aacute;ch c&aacute;c l&#x1EDB;p m&#x1EDB;i
          // <li><a href="events.html">Events</a></li>
          li
            a(href='/blog-khach-hang') Blog kh&aacute;ch h&agrave;ng
          li.menu-has-children
            a(href='/blog-gia-su') Blog gia s&#x1B0;
          li
            a(href='contact.html') Li&ecirc;n h&#x1EC7;
      // #nav-menu-container
// #header
// start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        
// End banner Area
// Start feature Area
section.feature-area
  .container
    .row
      .col-lg-4
        .single-feature
          .title
            h4 D&#x1EA1;y hi&#x1EC7;u qu&#x1EA3;
          .desc-wrap
            p
              | Con ch&#x1EC9; c&oacute; th&#x1EC3; h&#x1ECD;c t&#x1ED1;t n&#x1EBF;u y&ecirc;u th&iacute;ch vi&#x1EC7;c h&#x1ECD;c. Gia s&#x1B0; t&#x1EA1;i HNTutor lu&ocirc;n bi&#x1EBF;t c&aacute;ch t&#x1EA1;o &dstrok;&#x1ED9;ng l&#x1EF1;c cho con, b&#x1EB1;ng c&aacute;c ph&#x1B0;&#x1A1;ng ph&aacute;p gi&#x1EA3;ng d&#x1EA1;y th&uacute; v&#x1ECB;, d&#x1EC5; hi&#x1EC3;u v&agrave; hi&#x1EC7;u qu&#x1EA3;.
            a.js-scroll-trigger.active(href='/dangkythuegiasu') &Dstrok;&abreve;ng k&yacute; ngay
      .col-lg-4
        .single-feature
          .title
            h4 Ti&#x1EBF;n b&#x1ED9; nhanh
          .desc-wrap
            p
              | V&#x1EDB;i gia s&#x1B0; gi&#x1ECF;i t&#x1EA1;i HNTutor, con b&#x1EA1;n s&#x1EBD; nhanh ch&oacute;ng h&#x1ECD;c t&#x1EAD;p ti&#x1EBF;n b&#x1ED9;, c&oacute; k&#x1EBF;t qu&#x1EA3; kh&aacute;c bi&#x1EC7;t ch&#x1EC9; sau 10 bu&#x1ED5;i h&#x1ECD;c: Con ch&abreve;m ngoan, h&#x1ECD;c t&#x1ED1;t h&#x1A1;n, &dstrok;i&#x1EC3;m s&#x1ED1; cao h&#x1A1;n.
            a.js-scroll-trigger.active(href='/dangkythuegiasu') &Dstrok;&abreve;ng k&yacute; ngay
      .col-lg-4
        .single-feature
          .title
            h4 H&#x1ECD;c th&#x1EED; 2 bu&#x1ED5;i
          .desc-wrap
            p
              | Sau 2 bu&#x1ED5;i h&#x1ECD;c th&#x1EED; &dstrok;&#x1EA7;u ti&ecirc;n, n&#x1EBF;u kh&ocirc;ng h&agrave;i l&ograve;ng v&#x1EC1; gia s&#x1B0;, b&#x1EA1;n kh&ocirc;ng c&#x1EA7;n ph&#x1EA3;i thanh to&aacute;n h&#x1ECD;c ph&iacute;. T&#x1EA5;t nhi&ecirc;n, HNTutor lu&ocirc;n c&oacute; nh&#x1EEF;ng gia s&#x1B0; khi&#x1EBF;n b&#x1EA1;n h&agrave;i l&ograve;ng nh&#x1EA5;t.
            a.js-scroll-trigger.active(href='/dangkythuegiasu') &Dstrok;&abreve;ng k&yacute; ngay
// End feature Area
// Start info Area
br
br
br
section.info-area.pb-120
  .container-fluid
    .row.align-items-center
      .col-lg-6.no-padding.info-area-left
        img.img-fluid(src='img/about-img.jpg' alt='')
      .col-lg-6.info-area-right
        h1 L&agrave; trung t&acirc;m uy t&iacute;n v&agrave; ch&#x1EA5;t l&#x1B0;&#x1EE3;ng nh&#x1EA5;t H&agrave; N&#x1ED9;i
        p
          | Trung t&acirc;m gia s&#x1B0; HNTutors l&agrave; s&#x1EF1; k&#x1EBF;t h&#x1EE3;p gi&#x1EEF;a c&ocirc;ng ngh&#x1EC7; v&agrave; d&#x1ECB;ch v&#x1EE5; gia s&#x1B0;. Trong &dstrok;&oacute;, c&ocirc;ng ngh&#x1EC7; &dstrok;&#x1B0;&#x1EE3;c &dstrok;&#x1EA7;u t&#x1B0; m&#x1EA1;nh m&#x1EBD; v&agrave; hi&#x1EC7;n &dstrok;&#x1EA1;i. &Dstrok;&#x1ED9;i ng&utilde; chuy&ecirc;n m&ocirc;n &dstrok;&#x1B0;&#x1EE3;c &dstrok;&agrave;o t&#x1EA1;o b&agrave;i b&#x1EA3;n, c&oacute; &dstrok;&#x1EA7;y &dstrok;&#x1EE7; ki&#x1EBF;n th&#x1EE9;c v&agrave; k&#x1EF9; n&abreve;ng chuy&ecirc;n m&ocirc;n.
        br
        p
          | Hi&#x1EC7;n t&#x1EA1;i, HNTutor l&agrave; trung t&acirc;m gia s&#x1B0; ch&#x1EA5;t l&#x1B0;&#x1EE3;ng, chuy&ecirc;n nghi&#x1EC7;p v&agrave; c&oacute; h&#x1EC7; th&#x1ED1;ng qu&#x1EA3;n l&yacute; gia s&#x1B0; hi&#x1EC7;n &dstrok;&#x1EA1;i s&#x1ED1; 1 t&#x1EA1;i H&agrave; N&#x1ED9;i v&agrave; Vi&#x1EC7;t Nam.
        p
          | Chi&#x1EBF;n l&#x1B0;&#x1EE3;c kinh doanh c&#x1EE7;a HNTutor r&#x1EA5;t &dstrok;&#x1A1;n gi&#x1EA3;n:
          | Ch&#x1EA5;t l&#x1B0;&#x1EE3;ng h&agrave;ng &dstrok;&#x1EA7;u
          | Ch&abreve;m s&oacute;c kh&aacute;ch h&agrave;ng tuy&#x1EC7;t v&#x1EDD;i
          | &Dstrok;&#x1EA3;o &dstrok;&#x1EA3;m quy&#x1EC1;n l&#x1EE3;i c&#x1EE7;a gia s&#x1B0;.
        p
          | B&#x1EA1;n c&oacute; th&#x1EC3; d&#x1EC5; d&agrave;ng th&#x1EA5;y &dstrok;&#x1B0;&#x1EE3;c kh&aacute;c bi&#x1EC7;t gi&#x1EEF;a HNTutor so v&#x1EDB;i c&aacute;c trung t&acirc;m gia s&#x1B0; kh&aacute;c. HNTutor &dstrok;&atilde; chuy&ecirc;n nghi&#x1EC7;p h&oacute;a th&agrave;nh c&ocirc;ng d&#x1ECB;ch v&#x1EE5; gia s&#x1B0;, mang &dstrok;&#x1EBF;n cho kh&aacute;ch h&agrave;ng v&agrave; gia s&#x1B0; s&#x1EF1; tin t&#x1B0;&#x1EDF;ng cao nh&#x1EA5;t.
// End info Area
// Start course-mission Area
// End course-mission Area
// Start search-course Area
section.search-course-area.relative
  .overlay.overlay-bg
  .container
    .row.justify-content-between.align-items-center
      .col-lg-6.col-md-6.search-course-left
        h1.text-white
          | Gi&#x1EA3;m gi&aacute; 10 -50% 
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;trong m&ugrave;a h&egrave;
        p
          | V&#x1EDB;i &dstrok;&#x1ED9;i gia s&#x1B0;, gi&aacute;o vi&ecirc;n c&oacute; chuy&ecirc;n m&ocirc;n hi&#x1EC7;n &dstrok;ang m&#x1EDF; d&#x1ECB;ch v&#x1EE5; &dstrok;&abreve;ng tin tuy&#x1EC3;n d&#x1EE5;ng gi&aacute;o vi&ecirc;n, t&igrave;m gia s&#x1B0;, t&igrave;m sinh vi&ecirc;n v&agrave; gi&aacute;o vi&ecirc;n cho c&aacute; nh&acirc;n, trung t&acirc;m, tr&#x1B0;&#x1EDD;ng h&#x1ECD;c
        .row.details-content
          .col.single-detials
            span.lnr.lnr-graduation-hat
            a(href='#')
              h4 Chuy&ecirc;n gia h&#x1B0;&#x1EDB;ng &dstrok;&#x1EAB;n
            p
              | Vi&#x1EC7;c s&#x1EED; d&#x1EE5;ng Internet &dstrok;ang tr&#x1EDF; n&ecirc;n ph&#x1ED5; bi&#x1EBF;n h&#x1A1;n do s&#x1EF1; ti&#x1EBF;n b&#x1ED9; nhanh ch&oacute;ng c&#x1EE7;a c&ocirc;ng ngh&#x1EC7; v&agrave; s&#x1EE9;c m&#x1EA1;nh.
          .col.single-detials
            span.lnr.lnr-license
            a(href='#')
              h4 Ch&#x1EE9;ng ch&#x1EC9;
            p
              | V&#x1EDB;i s&#x1EF1; c&#x1ED1; g&#x1EAF;ng v&agrave; t&acirc;m huy&#x1EBF;t c&#x1EE7;a trung t&acirc;m , Trung t&acirc;m &dstrok;&atilde; &dstrok;&#x1EA1;t &dstrok;&#x1B0;&#x1EE3;c nhi&#x1EC1;u th&agrave;nh t&iacute;ch v&agrave; ch&#x1EE9;ng ch&#x1EC9; &dstrok;&#x1B0;&#x1EE3;c th&agrave;nh ph&#x1ED1; H&agrave; N&#x1ED9;i trao t&#x1EB7;ng.
      #dangky.col-lg-4.col-md-4.section-gap
        .single-footer-widget
          h4 Gmail
          p &Dstrok;&#x1EC3; l&#x1EA1;i gmail &dstrok;&#x1EC3; c&oacute; th&#x1EC3; nh&#x1EAD;n nh&#x1EEF;ng &#x1B0;u &dstrok;&atilde;i m&#x1EDB;i nh&acirc;t
          #mc_embed_signup
            form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
              .input-group
                input.form-control(type='text' name='EMAIL' placeholder='Địa chỉ Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email '" required='')
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.lnr.lnr-arrow-right
                .info
// End search-course Area
// Start review Area
section.upcoming-event-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-70.col-lg-8
        .title.text-center
          h1.mb-10 Kh&aacute;ch h&agrave;ng n&oacute;i g&igrave; v&#x1EC1; trung t&acirc;m HNTutor
          p
    .row
      .active-review-carusel
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Hi&#x1EBF;u &Dstrok;&agrave;o
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Gia s&#x1B0; t&#x1EA1;i HNTutor d&#x1EA1;y h&#x1ECD;c t&#x1EAD;n t&igrave;nh, t&acirc;m huy&#x1EBF;t.N&oacute;i chung, trung t&acirc;m kh&aacute; l&agrave; oki.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Edel
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Gia s&#x1B0; kh&aacute; l&agrave; oki.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Nguy&#x1EC5;n Ch&iacute; Th&agrave;nh
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Trung t&acirc;m cung c&#x1EA5;p ch&#x1EA5;t l&#x1B0;&#x1EE3;ng t&#x1ED1;t, nhanh v&agrave; t&#x1EAD;n t&igrave;nh.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Critian Ronaldo
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | T&ocirc;i l&agrave; B&#x1ED3; &Dstrok;&#x1EA7;u Nha t&ocirc;i c&ograve;n thu&ecirc; gia s&#x1B0; &#x1EDF; &dstrok;&acirc;y.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Ng&#x1B0;&#x1EDD;i n&agrave;o &dstrok;&oacute;
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Gia s&#x1B0; t&#x1EA1;i HNTutor d&#x1EA1;y h&#x1ECD;c t&#x1EAD;n t&igrave;nh, t&acirc;m huy&#x1EBF;t.N&oacute;i chung, trung t&acirc;m kh&aacute; l&agrave; oki.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Hulda Sutton
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Gia s&#x1B0; t&#x1EA1;i HNTutor d&#x1EA1;y h&#x1ECD;c t&#x1EAD;n t&igrave;nh, t&acirc;m huy&#x1EBF;t.N&oacute;i chung, trung t&acirc;m kh&aacute; l&agrave; oki.
        .single-review.item
          img(src='img/r1.png' alt='')
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Fannie Rowe
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Gia s&#x1B0; t&#x1EA1;i HNTutor d&#x1EA1;y h&#x1ECD;c t&#x1EAD;n t&igrave;nh, t&acirc;m huy&#x1EBF;t.N&oacute;i chung, trung t&acirc;m kh&aacute; l&agrave; oki.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Elison
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Gia s&#x1B0; t&#x1EA1;i HNTutor d&#x1EA1;y h&#x1ECD;c t&#x1EAD;n t&igrave;nh, t&acirc;m huy&#x1EBF;t.N&oacute;i chung, trung t&acirc;m kh&aacute; l&agrave; oki.
// End review Area

// start footer Area
footer.footer-area.section-gap
  .container
    .row
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 L&ecirc;n h&#x1EC7; v&#x1EDB;i ch&uacute;ng t&ocirc;i
          ul
            li
              i.fa.fa-map-marker
              span.text 206/04,X&oacute;m c&#x1EA3;, Nguy&ecirc;n X&aacute;, Minh Khai, B&#x1EAF;c T&#x1EEB; Li&ecirc;m, H&agrave; N&#x1ED9;i
            li
              i.fa.fa-phone
              span.text +84 0961100826
            li
              i.fa.fa-envelope
              span.text hieudao03021999@gmail.com
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 V&#x1EC1; HNTutor
          ul
            li
              a(href='/') Trang ch&#x1EE7;
            li
              a(href='/gioithieu') Gi&#x1EDB;i thi&#x1EC7;u
            li
              a(href='/danhsachlopmoi') Danh s&aacute;ch l&#x1EDB;p m&#x1EDB;i
            li
              a(href='/contact') Li&ecirc;n H&#x1EC7;
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Blog
          ul
            li
              a(href='/blog-khach-hang') Blog kh&aacute;ch h&agrave;ng
            li
              a(href='/blog-gia-su') Blog gia s&#x1B0;
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 Gmail
          p &Dstrok;&#x1EC3; l&#x1EA1;i gmail &dstrok;&#x1EC3; c&oacute; th&#x1EC3; nh&#x1EAD;n nh&#x1EEF;ng &#x1B0;u &dstrok;&atilde;i m&#x1EDB;i nh&acirc;t
          #mc_embed_signup
            form(target='_blank' action='' method='get')
              .input-group
                input.form-control(type='text' name='EMAIL' placeholder='Địa chỉ Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email '")
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.lnr.lnr-arrow-right
                .info
    .footer-bottom.row.align-items-center.justify-content-between
      p.footer-text.m-0.col-lg-6.col-md-12
        
        | B&#x1EA3;n quy&#x1EC1;n &copy;
        script.
          document.write(new Date().getFullYear());
        |  c&#x1EE7;a S&#x1EA3;n ph&#x1EA9;m  
        i.fa.fa-heart-o(aria-hidden='true')
        | thu&#x1ED9;c v&#x1EC1; 
        a(href='' target='_blank') Hi&#x1EBF;u &Dstrok;&agrave;o
       
      .col-lg-6.col-sm-12.footer-social
        a(href='#')
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-dribbble
        a(href='#')
          i.fa.fa-behance
// End footer Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
script(src='js/easing.min.js')
script(src='js/hoverIntent.js')
script(src='js/superfish.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.tabs.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
