doctype html
head
  // Mobile Specific Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon' href='img/fav.png')
  // Author Meta
  meta(name='author' content='colorlib')
  // Meta Description
  meta(name='description' content='')
  // Meta Keyword
  meta(name='keywords' content='')
  // meta character set
  meta(charset='UTF-8')
  // Site Title
  title Education
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700' rel='stylesheet')
  //
    CSS
    =============================================
  link(rel='stylesheet' href='css/linearicons.css')
  link(rel='stylesheet' href='css/font-awesome.min.css')
  link(rel='stylesheet' href='css/bootstrap.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='css/nice-select.css')
  link(rel='stylesheet' href='css/animate.min.css')
  link(rel='stylesheet' href='css/owl.carousel.css')
  link(rel='stylesheet' href='css/jquery-ui.css')
  link(rel='stylesheet' href='css/main.css')
  link(rel='stylesheet' href='css/util.css')
  link(rel='stylesheet' href='css/main_register.css')
  link(rel='stylesheet' href='css/login.css')
  script(language='javascript' src='js/checkvalidate2.js')
 
header#header
  .header-top
    .container
      .row
        .col-lg-4.col-sm-4.col-4.header-top-left.no-padding
          ul
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-dribbble
            li
              a(href='#')
                i.fa.fa-behance
        .col-lg-4.col-sm-4.col-4.header-top-center.no-padding
          a(href='/')
            button.btn.btn-light.btn-sm.text-uppercase(type='button') D&agrave;nh cho gia s&#x1B0;
            span &nbsp;
            span &nbsp;
            span &nbsp;
          a(href='/dangkythuegiasu')
            button.btn.btn-primary.btn-sm.text-uppercase(type='button')  &Dstrok;&abreve;ng k&yacute; thu&ecirc; gia s&#x1B0;
        .col-lg-4.col-sm-4.col-4.header-top-right.no-padding
          a(href='tel:+953 012 3654 896')
            span.lnr.lnr-phone-handset
            span.text +84 0961100826
          a(href='mailto:support@colorlib.com')
            span.lnr.lnr-envelope
            span.text hieudao03021999@gmail.com
  .row.m
    .container.main-menu
      .row.align-items-center.justify-content-between.d-flex
        #logo
          a(href='/')
            img(src='img/logo.png' alt='' title='')
        nav#nav-menu-container
          ul.nav-menu
            li
              a(href='/') Trang ch&#x1EE7;
            li
              a(href='/gioithieu') Gi&#x1EDB;i thi&#x1EC7;u
            li
              a(href='/danhsachlopmoi') Danh s&aacute;ch c&aacute;c l&#x1EDB;p m&#x1EDB;i
            // <li><a href="events.html">Events</a></li>
            li
              a(href='/blog-khach-hang') Blog kh&aacute;ch h&agrave;ng
            li.menu-has-children
              a(href='/blog-gia-su') Blog gia s&#x1B0;
              
            li
              a(href='/contact') Li&ecirc;n h&#x1EC7;
        // #nav-menu-container
// #header
// start banner Area
// End banner Area
// Start feature Area
// End feature Area
// Start popular-course Area
section.section-gap
  .container-contact100
    .wrap-contact100
      form.contact100-form.validate-form(name='frmdangkylamgiasu' action='/dang-ky-lam-gia-su' method='POST')
        span.contact100-form-title
          | &Dstrok;&abreve;ng k&yacute; l&agrave;m gia s&#x1B0;
        label.label-input100(for='hoten') H&#x1ECD; t&ecirc;n:
        .wrap-input100.validate-input
          input#email.input100(type='text' name='name' placeholder='Đào Minh Hiếu' )
          span.focus-input100
        label.label-input100(for='email') &Dstrok;&#x1ECB;a ch&#x1EC9; email:
        .wrap-input100.validate-input
          input#email.input100(type='text' name='email' placeholder='Eg. example@email.com')
          span.focus-input100
        label.label-input100(for='password') M&#x1EAD;t kh&#x1EA9;u:
        .wrap-input100
          input#phone.input100(type='password' name='password' onkeyup='checkPass(this.form)')
          span.focus-input100
        label.label-input100(for='password1') Nh&#x1EAD;p l&#x1EA1;i m&#x1EAD;t kh&#x1EA9;u:
        .wrap-input100
          input#phone.input100(type='password' name='password1' onkeyup='checkPass(this.form)' placeholder='')
          #viewValidPass
          span.focus-input100
        .container-contact100-form-btn
          button.contact100-form-btn
            span
              | &Dstrok;&abreve;ng k&yacute;
              i.zmdi.zmdi-arrow-right.m-l-8
// End popular-course Area
// Start cta-two Area
//
  <section class="cta-two-area">
  <div class="container">
  <div class="row">
  <div class="col-lg-8 cta-left">
  <h1>Not Yet Satisfied with our Trend?</h1>
  </div>
  <div class="col-lg-4 cta-right">
  <a class="primary-btn wh" href="#">view our blog</a>
  </div>
  </div>
  </div>
  </section>
// End cta-two Area
// start footer Area
footer.footer-area.section-gap
  .container
    .row
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 L&ecirc;n h&#x1EC7; v&#x1EDB;i ch&uacute;ng t&ocirc;i
          ul
            li
              i.fa.fa-map-marker
              span.text 206/04,X&oacute;m c&#x1EA3;, Nguy&ecirc;n X&aacute;, Minh Khai, B&#x1EAF;c T&#x1EEB; Li&ecirc;m, H&agrave; N&#x1ED9;i
            li
              i.fa.fa-phone
              span.text +84 0961100826
            li
              i.fa.fa-envelope
              span.text hieudao03021999@gmail.com
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 V&#x1EC1; HNTutor
          ul
            li
              a(href='/') Trang ch&#x1EE7;
            li
              a(href='/gioithieu') Gi&#x1EDB;i thi&#x1EC7;u
            li
              a(href='/danhsachlopmoi') Danh s&aacute;ch l&#x1EDB;p m&#x1EDB;i
            li
              a(href='/contact') Li&ecirc;n H&#x1EC7;
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Blog
          ul
            li
              a(href='/blog-khach-hang') Blog kh&aacute;ch h&agrave;ng
            li
              a(href='/blog-gia-su') Blog gia s&#x1B0;
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 Gmail
          p &Dstrok;&#x1EC3; l&#x1EA1;i gmail &dstrok;&#x1EC3; c&oacute; th&#x1EC3; nh&#x1EAD;n nh&#x1EEF;ng &#x1B0;u &dstrok;&atilde;i m&#x1EDB;i nh&acirc;t
          #mc_embed_signup
            form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
              .input-group
                input.form-control(type='text' name='EMAIL' placeholder='Địa chỉ Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email '")
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.lnr.lnr-arrow-right
                .info
    .footer-bottom.row.align-items-center.justify-content-between
      p.footer-text.m-0.col-lg-6.col-md-12
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        | B&#x1EA3;n quy&#x1EC1;n &copy;
        script.
          document.write(new Date().getFullYear());
        |  c&#x1EE7;a S&#x1EA3;n ph&#x1EA9;m  
        i.fa.fa-heart-o(aria-hidden='true')
        | thu&#x1ED9;c v&#x1EC1; 
        a(href='https://colorlib.com' target='_blank') Hi&#x1EBF;u &Dstrok;&agrave;o
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-6.col-sm-12.footer-social
        a(href='#')
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-dribbble
        a(href='#')
          i.fa.fa-behance
// End footer Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
script(src='js/easing.min.js')
script(src='js/hoverIntent.js')
script(src='js/superfish.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.tabs.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
