doctype html
head
  // Mobile Specific Meta
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon', href='img/fav.png')
  
  // meta character set
  meta(charset='UTF-8')
  // Site Title
  title Danh sách lớp mới
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700', rel='stylesheet')
  //
    CSS
    =============================================
  link(rel='stylesheet', href='css/linearicons.css')
  link(rel='stylesheet', href='css/font-awesome.min.css')
  link(rel='stylesheet', href='css/bootstrap.css')
  link(rel='stylesheet', href='css/magnific-popup.css')
  link(rel='stylesheet', href='css/nice-select.css')
  link(rel='stylesheet', href='css/animate.min.css')
  link(rel='stylesheet', href='css/owl.carousel.css')
  link(rel='stylesheet', href='css/jquery-ui.css')
  link(rel='stylesheet', href='css/main.css')
  link(rel='stylesheet', href='css/style.css')
  // <link href="css/all.css" rel="stylesheet" />
  link(href='css/bootstrap-grid.css', rel='stylesheet')
  script(language='javascript', src='ckeditor/ckeditor.js')
header#header
  .header-top
    .container
      .row
        .col-lg-4.col-sm-4.col-4.header-top-left.no-padding
          ul
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-dribbble
            li
              a(href='#')
                i.fa.fa-behance
        .col-lg-4.col-sm-4.col-4.header-top-center.no-padding
          a(href='/gia-su')
            button.btn.btn-light.btn-sm.text-uppercase(type='button') D&agrave;nh cho gia s&#x1B0;
            span &nbsp;
            span &nbsp;
            span &nbsp;
          a(href='/dangkythuegiasu')
            button.btn.btn-primary.btn-sm.text-uppercase(type='button')  &Dstrok;&abreve;ng k&yacute; thu&ecirc; gia s&#x1B0;
        .col-lg-4.col-sm-4.col-4.header-top-right.no-padding
          a(href='tel:+953 012 3654 896')
            span.lnr.lnr-phone-handset
            span.text +84 0961100826
          a(href='mailto:support@colorlib.com')
            span.lnr.lnr-envelope
            span.text hieudao03021999@gmail.com
  .container.main-menu
    .row.align-items-center.justify-content-between.d-flex
      #logo
        a(href='/')
          img(src='img/logo1.png', alt='', title='')
      nav#nav-menu-container
        ul.nav-menu
          li
            a(href='/') Trang ch&#x1EE7;
          li
            a(href='/gioithieu') Gi&#x1EDB;i thi&#x1EC7;u
          li
            a(href='/danhsachlopmoi') Danh s&aacute;ch c&aacute;c l&#x1EDB;p m&#x1EDB;i
          li
            a(href='/blog-khach-hang') Blog kh&aacute;ch h&agrave;ng
          li.menu-has-children
            a(href='/blog-gia-su') Blog gia s&#x1B0;
          li
            a(href='/contact') Li&ecirc;n h&#x1EC7;
      // #nav-menu-container
// #header
// start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        h1.text-white
         
// End banner Area
// Start popular-courses Area
section.popular-courses-area.section-gap.courses-page
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-70.col-lg-8
        .title.text-center
          h1.mb-10 Danh s&aacute;ch l&#x1EDB;p m&#x1EDB;i
          .col-md-12
            .input-group.md-form.form-sm.form-2.pl-0
              input.form-control.my-0.py-1.amber-border(type='text', placeholder='Tìm kiếm', aria-label='Search')
              .input-group-append
                span#basic-text1.input-group-text.amber.lighten-3
                  i.fa.fa-search.text-grey(aria-hidden='true') T&igrave;m ki&#x1EBF;m
    .row
      
      each lopmoi in lopmois
        
        -var title = "Mã Lớp : GS0" + lopmoi._id 
        -var ten= lopmoi.monhoc +" - " +lopmoi.lophoc
        -var sobuoi= "250.000đ/buổi,  " + lopmoi.sobuoi + " buổi/tuần"
        -var yeucau= "Yêu cầu : "+ lopmoi.yeucaugiasu
        if lopmoi.tinhtrang
          .single-popular-carusel.col-lg-3.col-md-6
            .details
              .card.border-secondary.mb-3(style='max-width: 18rem; height: 300px;	overflow: hidden;')
                .card-header.font-weight-bold(style='color: white; background: blue;')= title
                .card-body.text-secondary
                  h5.card-title
                    i.fa.fa-book
                    span &nbsp;
                    = ten
                  p.card-text
                    i.fa.fa-map-marker
                    span &nbsp;
                    = lopmoi.diachi
                  p.card-text
                    i.fa.fa-user-secret
                    span &nbsp;
                    = sobuoi
                  p.card-text
                    i.fa.fa-address-book
                    span &nbsp;
                    = yeucau
                  a.button.btn.btn-primary.float-right(href='/danhsachlopmoi/' + lopmoi._id) Xem chi ti&#x1EBF;t
      
    a.primary-btn.text-uppercase.mx-auto(href='#') Xem th&ecirc;m
// End popular-courses Area


// start footer Area
footer.footer-area.section-gap
  .container
    .row
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 L&ecirc;n h&#x1EC7; v&#x1EDB;i ch&uacute;ng t&ocirc;i
          ul
            li
              i.fa.fa-map-marker
              span.text 206/04,X&oacute;m c&#x1EA3;, Nguy&ecirc;n X&aacute;, Minh Khai, B&#x1EAF;c T&#x1EEB; Li&ecirc;m, H&agrave; N&#x1ED9;i
            li
              i.fa.fa-phone-alt
              span.text +84 0961100826
            li
              i.fa.fa-envelope
              span.text hieudao03021999@gmail.com
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 V&#x1EC1; HNTutor
          ul
            li
              a(href='/') Trang ch&#x1EE7;
            li
              a(href='/gioithieu') Gi&#x1EDB;i thi&#x1EC7;u
            li
              a(href='/danhsachlopmoi') Danh s&aacute;ch l&#x1EDB;p m&#x1EDB;i
            li
              a(href='/contact') Li&ecirc;n H&#x1EC7;
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Blog
          ul
            li
              a(href='/blog-khach-hang') Blog kh&aacute;ch h&agrave;ng
            li
              a(href='/blog-gia-su') Blog gia s&#x1B0;
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 Gmail
          p &Dstrok;&#x1EC3; l&#x1EA1;i gmail &dstrok;&#x1EC3; c&oacute; th&#x1EC3; nh&#x1EAD;n nh&#x1EEF;ng &#x1B0;u &dstrok;&atilde;i m&#x1EDB;i nh&acirc;t
          #mc_embed_signup
            form(target='_blank', action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01', method='get')
              .input-group
                input.form-control(type='text', name='EMAIL', placeholder='Địa chỉ Email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Địa chỉ Email '")
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.lnr.lnr-arrow-right
                .info
    .footer-bottom.row.align-items-center.justify-content-between
      p.footer-text.m-0.col-lg-6.col-md-12
       
        | B&#x1EA3;n quy&#x1EC1;n &copy;
        script.
          document.write(new Date().getFullYear());
        |  c&#x1EE7;a S&#x1EA3;n ph&#x1EA9;m  
        i.fa.fa-heart-o(aria-hidden='true')
        | thu&#x1ED9;c v&#x1EC1; 
        a(href='', target='_blank') Hi&#x1EBF;u &Dstrok;&agrave;o
       
      .col-lg-6.col-sm-12.footer-social
        a(href='#')
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-dribbble
        a(href='#')
          i.fa.fa-behance
// End footer Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
script(src='js/easing.min.js')
script(src='js/hoverIntent.js')
script(src='js/superfish.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.tabs.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
